#![enable(implicit_some)]
(
    name: "Addict",
    hp: 1,
    pwr: 3,
    rarity: 1,
    houses: ["Rogues"],
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AdjacentUnits, None)],
        effects: [(UseAbility("Rob", 1), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2(0.8, 0.47)),
            shape_type: Line(thickness: F(1.0)),
            fill: GradientLinear(
                point1: Vec2(0.0, 0.0),
                point2: Vec2(1.0, 0.0),
                parts: [F(0.3), F(0.0)],
                colors: [OwnerState(Color), HexColor("#ffffff")],
            ),
            fbm: (
                octaves: I(3),
                lacunarity: Sin(Sum(Mul(GT, F(0.2)), Mul(Index, F(1.25)))),
                gain: F(0.33),
                strength: F(1.0),
                offset: Vec2(1.0, 1.0),
            ),
            alpha: F(1.0),
            padding: Zero,
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(Mul(Sub(Index, I(2)), F(-0.28)), F(0.0)),
            Rotation: Mul(Sum(Index, I(1)), F(0.7)),
        },
        count: 5,
    ),
)