#![enable(implicit_some)]
(
    name: "Alchemic Bat",
    hp: 1,
    pwr: 3,
    rarity: 1,
    houses: ["Alchemists"],
    trigger: Fire(
        triggers: [(AllyDeath, None)],
        targets: [(TargetStateLast(LastAttacker), "last attacker")],
        effects: [(UseAbility("Petrify", 1), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Sum(Sum(F(0.81), Mul(Index, F(-0.17))), Mul(Beat, F(0.05)))),
            shape_type: Line(thickness: F(2.27)),
            fill: GradientLinear(
                point1: V2(0.0, -0.5),
                point2: V2(0.0, 0.5),
                parts: [F(0.0), Sum(F(0.99), Mul(Index, F(0.0)))],
                colors: [OwnerState(Color), HexColor("00000000")],
            ),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(Zero, Sum(Mul(Index, F(-0.04)), Mul(Sub(Zero, Abs(Beat)), Mul(F(0.1), Index)))),
        },
        count: 3,
    ),
)