#![enable(implicit_some)]
(
    name: "Detective",
    hp: 2,
    pwr: 2,
    rarity: 3,
    houses: ["Rogues"],
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AllEnemyUnits, None)],
        effects: [(UseAbility("Expose", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Sum(Sum(F(0.81), Mul(Index, F(-0.13))), Mul(Beat, F(0.05)))),
            shape_type: Line(thickness: F(0.4)),
            fill: GradientRadial(
                center: Vec2(0.0, 0.0),
                radius: F(1.0),
                parts: [F(0.0), F(0.75)],
                colors: [OwnerState(Color), Hex("6262621f")],
            ),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.2),
        ),
        children: [],
        mapping: {},
        count: 7,
    ),
)