#![enable(implicit_some)]
(
    name: "Distractor",
    hp: 3,
    pwr: 2,
    rarity: 0,
    houses: ["Rogues"],
    trigger: Fire(
        triggers: [(AllyUsedAbility("Rob"), None)],
        targets: [(Target, None)],
        effects: [(UseAbility("Expose", 2), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Sum(Mul(Sum(Index, I(1)), F(0.2)), Mul(Beat, F(0.03)))),
            shape_type: Opaque,
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(0.5),
            padding: F(0.2),
        ),
        children: [
            (
                material: Shape(
                    shape: Circle(radius: Sum(Mul(Sum(Index, I(1)), F(0.2)), Mul(Beat, F(0.07)))),
                    shape_type: Line(thickness: F(0.33)),
                    fill: Solid(color: Hex("fffafaff")),
                    fbm: None,
                    alpha: F(0.5),
                    padding: F(0.2),
                ),
                children: [],
                mapping: {},
                count: 3,
            ),
        ],
        mapping: {},
        count: 3,
    ),
)