#![enable(implicit_some)]
(
    name: "Doppelganger",
    hp: 2,
    pwr: 3,
    rarity: 1,
    houses: ["Shifters"],
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(RandomAdjacentUnit, None)],
        effects: [(UseAbility("Full Copy", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.72)),
            shape_type: Line(thickness: F(2.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(0.4),
            padding: F(0.0),
        ),
        children: [],
        mapping: {Offset: Mul(UnitVec(Mul(OwnerState(Index), Mul(PI, F(0.5)))), Mul(Beat, F(0.5)))},
        count: 4,
    ),
)