#![enable(implicit_some)]
(
    name: "Experimenter",
    hp: 3,
    pwr: 1,
    rarity: 0,
    houses: ["Death Knights"],
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [],
        effects: [(AbilityStateAddVar("Summon Skeleton", M1, I(1)), "[Skeleton] applies [Plague] on attack")],
    ),
    representation: (
        material: Shape(
            shape: Circle(
                radius: Max(Sin(Sum(Sum(GT, Mul(PI, F(1.5))), Index)), Sum(F(0.11), Mul(Index, F(0.05)))),
            ),
            shape_type: Line(thickness: F(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Context(T),
            padding: F(0.0),
        ),
        children: [],
        mapping: {T: Sin(Sum(GT, Index))},
        count: 4,
    ),
)