#![enable(implicit_some)]
(
    name: "Fungoid",
    hp: 3,
    pwr: 2,
    rarity: 2,
    houses: ["Druids"],
    trigger: Fire(
        triggers: [(AllyDeath, None)],
        targets: [],
        effects: [
            (
                List(
                    [
                        If(
                            LessThen(ToI(OwnerStateLast(Charges)), I(3)),
                            List(
                                [StateAddVar(Charges, Owner, I(1)), UseAbility("Summon Treant", 0)],
                            ),
                            Noop,
                        ),
                    ],
                ),
                "[Summon Treant] (max 3)",
            ),
        ],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Sum(Mul(Index, F(-0.18)), Sum(F(0.6), Mul(Sub(Zero, Beat), F(0.05))))),
            shape_type: Line(thickness: F(1.4)),
            fill: GradientLinear(
                point1: UnitVec(Mul(GT, F(0.3))),
                point2: UnitVec(Sum(Mul(GT, F(0.3)), PI)),
                parts: [F(0.5), F(0.51)],
                colors: [OwnerState(Color), Hex("101010ff")],
            ),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.0),
        ),
        children: [],
        mapping: {Rotation: Mul(Index, F(0.2)), Offset: Mul(UnitVec(Sum(GT, Index)), F(0.07))},
        count: 4,
    ),
)