#![enable(implicit_some)]
(
    name: "Harbinger",
    hp: 4,
    pwr: 1,
    rarity: 0,
    houses: ["Warlocks"],
    trigger: Fire(
        triggers: [(OnceAfter(0, AfterStrike), "after strike once")],
        targets: [(FilterMaxEnemy(Context(Slot)), "last enemy")],
        effects: [(UseAbility("Doom", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.53)),
            shape_type: Line(thickness: F(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.0),
        ),
        children: [
            (
                material: Shape(
                    shape: Circle(radius: F(1.0)),
                    shape_type: Opaque,
                    fill: GradientRadial(
                        center: V2(0.0, 0.0),
                        radius: F(1.0),
                        parts: [F(-0.62), F(1.05)],
                        colors: [Context(Color), HexColor("00000000")],
                    ),
                    fbm: None,
                    alpha: F(1.0),
                    padding: F(0.0),
                ),
                children: [],
                mapping: {},
                count: 0,
            ),
        ],
        mapping: {Offset: Mul(UnitVec(Mul(Index, Mul(PI, F(0.5)))), Mul(Sin(GT), F(0.21)))},
        count: 4,
    ),
)