#![enable(implicit_some)]
(
    name: "Lightning",
    hp: 1,
    pwr: 1,
    rarity: 3,
    houses: ["Robots"],
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AllUnits, None)],
        effects: [(UseAbility("Charge", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Sum(Vec2E(Mul(Beat, F(0.1))), Vec2(0.13, 1.69))),
            shape_type: Line(thickness: F(0.2)),
            fill: GradientLinear(
                point1: Vec2(0.0, 0.0),
                point2: Vec2(0.0, 0.5),
                parts: [F(0.0), F(1.5)],
                colors: [OwnerState(Color), Hex("#ffffff")],
            ),
            fbm: (
                octaves: I(1),
                lacunarity: F(1.0),
                gain: F(1.0),
                strength: Sum(F(0.13), Mul(Index, F(0.03))),
                offset: Vec2EE(Mul(GT, F(5.0)), Index),
            ),
            alpha: F(1.0),
            padding: F(0.5),
        ),
        children: [],
        mapping: {},
        count: 4,
    ),
)