#![enable(implicit_some)]
(
    name: "Mirror",
    hp: 6,
    pwr: 0,
    rarity: 0,
    houses: ["Shifters"],
    trigger: Fire(
        triggers: [(BeforeStrike, None)],
        targets: [(Target, None)],
        effects: [(UseAbility("Copy", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.72)),
            shape_type: Line(thickness: F(3.0)),
            fill: GradientLinear(
                point1: Vec2(0.0, -1.0),
                point2: Vec2(0.0, 1.0),
                parts: [F(0.68), F(0.84)],
                colors: [OwnerState(Color), Hex("00000000")],
            ),
            fbm: None,
            alpha: F(0.4),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(
                    Mul(Sum(Index, Mul(GT, Mul(RandomFloatUnit(Owner), F(5.0)))), Mul(PI, F(0.5))),
                ),
                F(0.05),
            ),
        },
        count: 6,
    ),
)