#![enable(implicit_some)]
(
    name: "Nurse",
    hp: 2,
    pwr: 0,
    rarity: 1,
    houses: ["Medics"],
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AdjacentUnits, None)],
        effects: [(UseAbility("Vitality", 3), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Sum(F(0.1), Mul(Abs(Sub(I(2), Index)), F(0.1)))),
            shape_type: Line(thickness: Sum(F(0.7), Mul(Sin(Sub(GT, Abs(Sub(I(2), Index)))), F(1.0)))),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(0.5),
            padding: F(0.4),
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(
                Mul(Sum(Mul(Index, F(0.3)), F(-0.6)), Sum(Mul(Beat, F(0.1)), F(1.0))),
                Mul(Sin(Sum(GT, Index)), F(0.1)),
            ),
        },
        count: 5,
    ),
)