#![enable(implicit_some)]
(
    name: "Pathologist",
    hp: 3,
    pwr: 3,
    rarity: 3,
    houses: ["Medics"],
    trigger: Fire(
        triggers: [(AllyDeath, None)],
        targets: [(AllAllyUnits, None)],
        effects: [(Heal(None), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.5)),
            shape_type: Line(thickness: F(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: (
                octaves: I(1),
                lacunarity: F(1.0),
                gain: F(1.0),
                strength: F(0.1),
                offset: Vec2EE(Mul(GT, F(0.2)), Zero),
            ),
            alpha: F(1.0),
            padding: F(0.2),
        ),
        children: [],
        mapping: {Offset: Vec2EE(Zero, Mul(Sin(GT), F(0.1)))},
        count: 0,
    ),
)