#![enable(implicit_some)]
(
    name: "Redirector",
    hp: 2,
    pwr: 2,
    rarity: 1,
    houses: ["Meta"],
    trigger: Fire(
        triggers: [(AllyDeath, None)],
        targets: [(TargetStateLast(LastAttacker), "last attacker")],
        effects: [(UseAbility("Amnesia", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(
                size: Vec2E(Sum(Mul(Abs(Beat), F(0.3)), Mul(Abs(Cos(Mul(GT, F(0.3)))), F(0.88)))),
            ),
            shape_type: Line(thickness: F(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(0.8),
            padding: F(0.21),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(Sum(Mul(Index, Mul(PI, F(0.2))), Mul(Sin(Mul(GT, F(0.3))), F(5.0)))),
                F(0.2),
            ),
        },
        count: 10,
    ),
)