#![enable(implicit_some)]
(
    name: "Robber",
    hp: 3,
    pwr: 1,
    rarity: 2,
    houses: ["Rogues"],
    trigger: Fire(
        triggers: [(AllyDeath, "Last ally died")],
        targets: [(AllEnemyUnits, None)],
        effects: [
            (
                If(Equals(UnitCount(Bool(true)), I(1)), UseAbility("Rob", 1), Noop),
                "use [Rob] ({Level}+1)",
            ),
        ],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: V2(1.0, 1.0)),
            shape_type: Line(thickness: F(2.19)),
            fill: GradientLinear(
                point1: V2(0.0, 0.0),
                point2: V2(1.0, 1.0),
                parts: [F(0.0), F(0.5)],
                colors: [OwnerState(Color), HexColor("00000000")],
            ),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.2),
        ),
        children: [],
        mapping: {
            Offset: Mul(UnitVec(Sum(Mul(Index, Mul(PI, F(0.66))), Mul(GT, F(0.2)))), Mul(Sin(GT), F(0.3))),
        },
        count: 2,
    ),
)