#![enable(implicit_some)]
(
    name: "Scavenger",
    hp: 1,
    pwr: 1,
    rarity: 2,
    houses: ["Dragons"],
    trigger: Fire(
        triggers: [(AnyDeath, None)],
        targets: [(Owner, None)],
        effects: [(UseAbility("Grow", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2E(Sum(F(0.4), Mul(RandomF(Owner), F(1.1))))),
            shape_type: Line(thickness: Sum(F(0.8), Mul(RandomF(Owner), F(3.0)))),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(0.2),
            padding: F(0.0),
        ),
        children: [],
        mapping: {Rotation: Sum(IntF(OwnerState(Index)), Sin(Sum(GT, Mul(RandomF(Owner), F(10.0)))))},
        count: 10,
    ),
)