#![enable(implicit_some)]
(
    name: "Surgeon",
    hp: 2,
    pwr: 2,
    rarity: 2,
    houses: ["Medics"],
    trigger: Fire(
        triggers: [(Period(0, 2, TurnEnd), None)],
        targets: [(AllAllyUnits, None)],
        effects: [(Heal(None), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: V2(1.0, 1.0)),
            shape_type: Line(thickness: F(2.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.2),
        ),
        children: [],
        mapping: {Offset: Vec2EE(Zero, Mul(Sin(GT), F(0.1)))},
        count: 0,
    ),
)