#![enable(implicit_some)]
(
    name: "Trimmer",
    hp: 3,
    pwr: 1,
    rarity: 0,
    houses: ["Alchemists"],
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(FilterMaxEnemy(OwnerState(Hp)), "enemy with max Hp")],
        effects: [(UseAbility("Petrify", 0), None)],
    ),
    representation: (
        material: None,
        children: [
            (
                material: Shape(
                    shape: Rectangle(size: Vec2(1.0, 1.0)),
                    shape_type: Line(thickness: F(1.0)),
                    fill: Solid(color: OwnerState(Color)),
                    fbm: None,
                    alpha: F(1.0),
                    padding: F(0.0),
                ),
                children: [],
                mapping: {Rotation: Sum(Mul(Mul(PI, F(0.25)), Index), Mul(Sin(Sum(GT, Index)), F(0.3)))},
                count: 2,
            ),
        ],
        mapping: {},
        count: 0,
    ),
)