#![enable(implicit_some)]
(
    name: "Whistleblower",
    hp: 2,
    pwr: 2,
    rarity: 1,
    houses: ["Rogues"],
    trigger: Fire(
        triggers: [(AllyDeath, None)],
        targets: [(TargetStateLast(LastAttacker), "last attacker")],
        effects: [(UseAbility("Expose", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: V2(1.0, 1.0)),
            shape_type: Line(thickness: F(1.0)),
            fill: GradientLinear(
                point1: V2(0.0, -0.5),
                point2: V2(0.0, 0.5),
                parts: [F(0.0), Sum(F(0.99), Mul(Index, F(0.0)))],
                colors: [OwnerState(Color), HexColor("00000000")],
            ),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.2),
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(
                Sum(
                    Sum(Mul(Index, F(0.18)), F(-0.08)),
                    Mul(Sub(Zero, Abs(Beat)), Mul(F(-0.1), Index)),
                ),
                Zero,
            ),
            Rotation: F(0.8),
        },
        count: 3,
    ),
)