(
    [
        Hollow(F(2.0)),
        Color(C("#2979FF")),
        Alpha(F(0.6)),
        Repeat(
            I(10),
            List(
                [
                    Rectangle(F(0.5)),
                    Rotate(Sum(GT, Var(index))),
                    Translate(Mul(F(0.2), Cos(Sum(GT, Var(index))))),
                    Paint,
                ],
            ),
        ),
    ],
)