(
    [
        hollow(f32(2.0)),
        color(fallback(var(color), color("#ECEFF1"))),
        alpha(f32(0.6)),
        repeat(
            i32(10),
            list(
                [
                    rectangle(f32(0.5)),
                    rotate(sum(GT, var(index))),
                    translate(mul(f32(0.2), Cos(sum(GT, var(index))))),
                    paint,
                ],
            ),
        ),
    ],
)