(
    count: 10,
    t: Shape(
        shape: Rectangle(size: Sum(Mul(F(0.4), Sum(Var(index), I(6))), Mul(F(0.3), Sin(GT)))),
        modifiers: [
            Rotation(Mul(F(0.05), GT)),
            Color(If(Even(Var(index)), Var(color), C("#00B8D4"))),
            Hollow(B(true)),
            Thickness(F(0.05)),
            Alpha(F(0.3)),
        ],
    ),
)