#![enable(implicit_some)]
(
    name: "Witches",
    color: ("#673AB7"),
    statuses: [
        (
            name: "Weakness",
            description: "-{Charges} PWR",
            polarity: -1,
            trigger: Change(trigger: Var(Pwr), expr: Sub(I(0), Context(Charges))),
        ),
    ],
    abilities: [(name: "Weakness", description: "-{1} PWR", effect: AddStatus("Weakness"))],
)