#![enable(implicit_some)]
(
    left: (
        units: [
            (
                trigger: Fire(trigger: BattleStart, target: AllUnits, effect: UseAbility("Amnesia", 0)),
                hp: 3,
                atk: 1,
                name: "left",
            ),
        ],
    ),
    right: (
        units: [
            (
                trigger: Fire(trigger: BattleStart, effect: UseAbility("Shield", 0)),
                hp: 1,
                atk: 1,
                name: "right",
            ),
            (
                trigger: Fire(trigger: BattleStart, effect: UseAbility("Vitality", 0)),
                hp: 1,
                atk: 1,
                name: "right",
            ),
            (
                trigger: Fire(trigger: BattleStart, effect: UseAbility("Shield", 0)),
                hp: 1,
                atk: 1,
                name: "right",
            ),
        ],
    ),
    condition: And(Equals(FactionCount(Faction(Left)), Int(0)), Equals(FactionCount(Faction(Right)), Int(0))),
)