#![enable(implicit_some)]
(
    left: (
        units: [
            (
                trigger: Fire(
                    triggers: [(BattleStart, None)],
                    targets: [(AllUnits, None)],
                    effects: [(UseAbility("Amnesia", 0), None)],
                ),
                hp: 3,
                atk: 1,
                name: "left",
            ),
        ],
    ),
    right: (
        units: [
            (
                trigger: Fire(triggers: [(BattleStart, None)], effects: [(UseAbility("Shield", 0), None)]),
                hp: 1,
                atk: 1,
                name: "right",
            ),
            (
                trigger: Fire(triggers: [(BattleStart, None)], effects: [(UseAbility("Vitality", 0), None)]),
                hp: 1,
                atk: 1,
                name: "right",
            ),
            (
                trigger: Fire(triggers: [(BattleStart, None)], effects: [(UseAbility("Shield", 0), None)]),
                hp: 1,
                atk: 1,
                name: "right",
            ),
        ],
    ),
    condition: And(Equals(FactionCount(Faction(Left)), Int(0)), Equals(FactionCount(Faction(Right)), Int(0))),
)