#![enable(implicit_some)]
(
    left: (
        units: [
            (
                trigger: Fire(
                    triggers: [(BattleStart, None)],
                    targets: [(Owner, None)],
                    effects: [(UseAbility("Shield", 10), None)],
                ),
                hp: 1,
                pwr: 1,
                name: "left",
            ),
        ],
    ),
    right: (
        units: [
            (
                trigger: Fire(
                    triggers: [(BattleStart, None)],
                    targets: [(AllUnits, None)],
                    effects: [(UseAbility("Amnesia", 10), None)],
                ),
                hp: 1,
                pwr: 1,
                name: "right",
            ),
        ],
    ),
)