#![enable(implicit_some)]
(
    left: (
        units: [
            (
                hp: 1,
                pwr: 1,
                trigger: Fire(
                    triggers: [(BeforeStrike, None)],
                    targets: [(WithVar(Faction, OppositeFaction, SlotUnit(Value(Int(2)))), None)],
                    effects: [(WithVar(Value, I(5), Damage), None)],
                ),
            ),
        ],
    ),
    right: (units: [(hp: 1, pwr: 1), (hp: 5, pwr: 1)]),
)