#![enable(implicit_some)]
(
    left: (
        units: [
            (
                hp: 1,
                atk: 1,
                trigger: BattleStart(
                    List(
                        [
                            WithVar(
                                Faction,
                                OppositeFaction,
                                WithTarget(
                                    RandomUnit,
                                    UseAbility(
                                        "Devour",
                                    ),
                                ),
                            ),
                            WithTarget(
                                RandomAdjacentUnit,
                                UseAbility(
                                    "Devour",
                                ),
                            ),
                            WithTarget(
                                RandomAdjacentUnit,
                                UseAbility(
                                    "Devour",
                                ),
                            ),
                        ],
                    ),
                ),
            ),
            (hp: 3, atk: 1),
        ],
    ),
    right: (
        units: [
            (hp: 5, atk: 1),
            (hp: 5, atk: 1),
            (hp: 5, atk: 1),
        ],
    ),
    condition: And(
        Equals(
            FactionCount(Faction(Left)),
            Int(1),
        ),
        Equals(
            FactionCount(Faction(Right)),
            Int(0),
        ),
    ),
)