#![enable(implicit_some)]
(
    left: (units: [(hp: 4, pwr: 1, name: "left", statuses: [("Thorns", 1)])]),
    right: (units: [(hp: 4, pwr: 1, name: "right", statuses: [("Thorns", 1)])]),
    condition: And(Equals(FactionCount(Faction(Left)), Int(0)), Equals(FactionCount(Faction(Right)), Int(0))),
)