(
    left: (
        units: [
            (
                hp: 2,
                atk: 1,
                trigger: Fire(
                    triggers: [(AfterDamageDealt, None)],
                    targets: [(Target, None)],
                    effects: [(UseAbility("Plague", 0), None)],
                ),
            ),
        ],
    ),
    right: (
        units: [
            (
                hp: 2,
                atk: 1,
                trigger: Fire(
                    triggers: [(AfterDamageDealt, None)],
                    targets: [(Target, None)],
                    effects: [(UseAbility("Plague", 0), None)],
                ),
            ),
        ],
    ),
)