#![enable(implicit_some)]
(
    left: (
        units: [
            (
                hp: 1,
                pwr: 1,
                name: "left",
                trigger: Fire(
                    triggers: [(BeforeStrike, None)],
                    targets: [(Target, None)],
                    effects: [(UseAbility("Full Copy", 0), None)],
                ),
            ),
        ],
    ),
    right: (
        units: [
            (
                hp: 5,
                pwr: 1,
                trigger: Fire(
                    triggers: [(TurnEnd, None)],
                    targets: [(RandomUnit(AllEnemyUnits), None)],
                    effects: [(Damage, None)],
                ),
                name: "right",
                statuses: [("Blessing", 5)],
            ),
        ],
    ),
)