#![enable(implicit_some)]
(
    left: (
        units: [
            (
                hp: 1,
                pwr: 1,
                name: "left",
                trigger: Fire(
                    triggers: [(BeforeStrike, None)],
                    targets: [(SlotUnit(Int(1)), None)],
                    effects: [(UseAbility("Shield", 2), None)],
                ),
            ),
        ],
    ),
    right: (
        units: [
            (
                hp: 1,
                pwr: 1,
                name: "right",
                trigger: Fire(
                    triggers: [(BeforeStrike, None)],
                    targets: [(SlotUnit(Int(1)), None)],
                    effects: [(UseAbility("Shield", 2), None)],
                ),
            ),
        ],
    ),
)