#![enable(implicit_some)]
(
    left: (units: [(name: "left", hp: 15, pwr: 3)]),
    right: (
        units: [
            (
                hp: 3,
                pwr: 3,
                name: "right",
                trigger: Fire(
                    triggers: [(AfterDamageDealt, None)],
                    targets: [(Target, None)],
                    effects: [(Kill, None)],
                ),
            ),
        ],
    ),
    condition: And(Equals(FactionCount(Faction(Left)), Int(0)), Equals(FactionCount(Faction(Right)), Int(0))),
)