#![enable(implicit_some)]
(
    left: (
        units: [
            (
                hp: 1,
                pwr: 0,
                trigger: Fire(
                    triggers: [(AllyDeath, None)],
                    targets: [(TargetStateLast(LastAttacker), "killer")],
                    effects: [(Damage(Int(1)), None)],
                ),
            ),
        ],
    ),
    right: (units: [(hp: 1, pwr: 1)]),
    condition: And(Equals(FactionCount(Faction(Left)), Int(0)), Equals(FactionCount(Faction(Right)), Int(1))),
)