#![enable(implicit_some)]
(
    left: (
        units: [
            (
                hp: 1,
                atk: 0,
                trigger: BeforeStrike(
                    WithVar(
                        Faction,
                        OppositeFaction,
                        WithTarget(
                            SlotUnit(
                                Int(1),
                            ),
                            Damage(
                                Int(1),
                            ),
                        ),
                    ),
                ),
            ),
        ],
    ),
    right: (
        units: [
            (
                hp: 1,
                atk: 1,
            ),
            (
                hp: 1,
                atk: 1,
            ),
            (
                hp: 1,
                atk: 1,
            ),
            (
                hp: 1,
                atk: 1,
            ),
        ],
    ),
    condition: And(
        Equals(
            FactionCount(Faction(Left)),
            Int(1),
        ),
        Equals(
            FactionCount(Faction(Right)),
            Int(0),
        ),
    ),
)