#![enable(implicit_some)]
(
    left: (
        units: [
            (
                hp: 1,
                atk: 0,
                trigger: Fire(
                    trigger: BeforeStrike,
                    target: WithVar(Faction, OppositeFaction, SlotUnit(Int(1))),
                    effect: Damage(Int(1)),
                ),
            ),
        ],
    ),
    right: (units: [(hp: 1, atk: 1), (hp: 1, atk: 1), (hp: 1, atk: 1), (hp: 1, atk: 1)]),
    condition: And(Equals(FactionCount(Faction(Left)), Int(1)), Equals(FactionCount(Faction(Right)), Int(0))),
)