#![enable(implicit_some)]
(
    left: (
        units: [
            (
                hp: 1,
                pwr: 1,
                trigger: Fire(
                    triggers: [(BattleStart, None)],
                    targets: [(AllEnemyUnits, None)],
                    effects: [(UseAbility("Siphon", 1), None)],
                ),
            ),
        ],
    ),
    right: (units: [(hp: 3, pwr: 4), (hp: 1, pwr: 1)]),
)