#![enable(implicit_some)]
(
    left: (
        units: [
            (
                hp: 1,
                pwr: 1,
                name: "left",
                trigger: Fire(
                    triggers: [(BeforeStrike, None)],
                    targets: [(Target, None)],
                    effects: [(WithVar(Polarity, I(1), StealAllStatuses), None)],
                ),
            ),
        ],
    ),
    right: (
        units: [(hp: 2, pwr: 1, name: "right", statuses: [("Expose", 1), ("Shield", 1)]), (hp: 1, pwr: 1)],
    ),
)