#![enable(implicit_some)]
(
    left: (
        units: [
            (
                name: "left",
                hp: 1,
                pwr: 0,
                trigger: Fire(
                    triggers: [(BeforeStrike, None)],
                    targets: [(Owner, None)],
                    effects: [(UseAbility("Strength", 1), None)],
                ),
            ),
        ],
    ),
    right: (units: [(hp: 1, pwr: 1, name: "right")]),
)