#![enable(implicit_some)]
(
    hp: 5,
    atk: 5,
    house: "Warriors",
    name: "Rat",
    representation: (
        material: Shape(
            shape: Circle,
            color: Hex("#827717"),
            size: Vec2(0.8, 0.8),
        ),
    ),
)