#![enable(implicit_some)]
(
    hp: 3,
    atk: 3,
    name: "Snake",
    house: "Enemies",
    description: "Kill after dealing any damage",
    trigger: AfterDamageDealt(Kill),
    representation: (
        material: Shape(
            shape: Circle,
            color: Hex("#76FF03"),
            size: Vec2(0.8, 0.8),
        ),
    ),
)