(
    hp: 4,
    atk: 4,
    house: "Enemies",
    trigger: BattleStart(
        WithVar(
            Faction,
            OppositeFaction,
            WithTarget(
                SlotUnit(Int(1)),
                UseAbility("Copy"),
            ),
        ),
    ),
    name: "Spy",
    description: "[Copy] front enemy",
    representation: (
        material: Shape(
            shape: Circle,
            fill: Line,
            size: Vec2E(Float(0.8)),
            thickness: Float(2.0),
            alpha: Float(0.3),
            color: State(Color),
        ),
        children: [],
        mapping: {
            Position: Mul(
                UnitVec(
                    Mul(
                        IntFloat(
                            State(Index),
                        ),
                        Mul(
                            PI,
                            Float(0.5),
                        ),
                    ),
                ),
                Mul(Beat, Float(0.5)),
            ),
            Color: If(
                Even(State(Index)),
                State(Color),
                Hex("ffffffff"),
            ),
        },
        count: 4,
    ),
)