(
    anim: Run(
        [
            Sfx(sfx: Death),
            Change(
                var: T,
                value: F(0.0),
                t: 0.0,
                duration: Value(Float(0.0)),
                timeframe: Value(Float(0.0)),
                tween: Linear,
            ),
            Change(
                var: T,
                value: F(1.0),
                t: 0.0,
                duration: F(1.0),
                timeframe: Value(Float(0.0)),
                tween: QuartOut,
            ),
        ],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Mul(F(1.0), Sub(One, T))),
            shape_type: Opaque,
            fill: Solid(color: HexColor("#a20000ff")),
            fbm: None,
            alpha: OwnerState(Alpha),
            padding: Value(Float(0.0)),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(Sum(Mul(Context(T), F(2.0)), Mul(RandomF(Owner), F(13.0)))),
                Mul(Context(T), Mul(F(2.0), Sum(RandomF(RandomF(Owner)), F(0.3)))),
            ),
        },
        count: 20,
    ),
    duration: Some(1.0),
)