(
    duration: Some(1.3),
    anim: Run(
        [
            Change(var: T, value: F(0.5)),
            Change(var: Thickness, value: F(1.5)),
            Change(var: T, value: F(1.0), duration: F(0.2)),
            Change(var: Thickness, value: F(0.0), duration: F(0.3), tween: Linear),
        ],
    ),
    representation: (
        material: Curve(
            curvature: F(0.6),
            thickness: OwnerState(Thickness),
            aa: F(0.5),
            dilations: [(F(0.0), F(-1.0)), (Mul(Age, F(2.0)), F(-1.0)), (F(1.0), F(3.0))],
        ),
        children: [
            (
                material: Curve(
                    color: HexColor("#ffffff"),
                    curvature: F(0.6),
                    thickness: Mul(F(0.3), OwnerState(Thickness)),
                    aa: F(0.1),
                    dilations: [(F(0.0), F(-1.0)), (Mul(Age, F(2.0)), F(-1.0)), (F(1.0), F(7.0))],
                ),
                mapping: {Visible: LessThen(Age, F(0.1))},
            ),
        ],
    ),
)