#![enable(implicit_some)]
(
    name: "Alchemists",
    color: ("#FFAB00"),
    statuses: [
        (
            name: "Petrify",
            description: "Next taken damage is lethal",
            trigger: Fire(triggers: [(AfterDamageTaken, None)], effects: [(Kill, None)]),
        ),
    ],
    abilities: [
        (
            name: "Petrify",
            description: "Next taken damage is lethal",
            effect: List([AddStatus("Petrify"), Vfx("apply_status")]),
        ),
    ],
)