#![enable(implicit_some)]
(
    name: "Alchemists",
    color: ("#FFAB00"),
    statuses: [
        (
            name: "Petrify",
            description: "Next damage taken increased by 25% per {Charge}",
            polarity: -1,
            trigger: Change(
                trigger: IncomingDamage,
                expr: Mul(Context(Value), Mul(Float(0.25), Context(Charges))),
            ),
        ),
    ],
    abilities: [
        (
            name: "Petrify",
            description: "Next damage taken increased by 25%",
            effect: AddStatus("Petrify"),
        ),
    ],
)