#![enable(implicit_some)]
(
    name: "Dragons",
    color: ("#558B2F"),
    statuses: [
        (
            name: "Growth",
            description: "+{Charges}/+{Charges}",
            trigger: List(
                [
                    Change(trigger: Var(Hp), expr: Context(Charges)),
                    Change(trigger: Var(Atk), expr: Context(Charges)),
                ],
            ),
        ),
    ],
    abilities: [
        (
            name: "Grow",
            description: "Give +1/+1",
            effect: List([AddStatus("Growth"), Vfx("apply_status")]),
        ),
    ],
)