#![enable(implicit_some)]
(
    name: "Druids",
    color: ("#EF6C00"),
    statuses: [
        (
            name: "Thorns",
            description: "Deal {Charges} DMG to attacker",
            polarity: 1,
            trigger: Fire(
                triggers: [(AfterDamageTaken, None)],
                targets: [(OwnerStateLast(LastAttacker), None)],
                effects: [(WithVar(Value, Context(Charges), Damage), None)],
            ),
        ),
    ],
    abilities: [
        (
            name: "Thorns",
            description: "Deal {1} DMG to attacker",
            effect: List([Vfx("apply_status"), ChangeStatus("Thorns")]),
        ),
        (
            name: "Summon Treant",
            description: "Summon 0/3 unit with [Thorns] ({3})",
            effect: Summon("Treant", ChangeStatus("Thorns")),
        ),
    ],
    summons: [
        (
            name: "Treant",
            hp: 3,
            pwr: 0,
            houses: ["Druids"],
            representation: (
                material: Shape(
                    shape: Circle(
                        radius: Sum(
                            Mul(Index, Sum(F(-0.26), Mul(Sin(Mul(GT, F(0.2))), F(0.05)))),
                            Sum(F(0.8), Mul(Sub(Zero, Beat), F(0.1))),
                        ),
                    ),
                    shape_type: Line(thickness: F(1.4)),
                    fill: GradientLinear(
                        point1: UnitVec(Mul(GT, F(0.3))),
                        point2: UnitVec(Sum(Mul(GT, F(0.3)), PI)),
                        colors: [OwnerState(Color), HexColor("101010ff")],
                        parts: [F(0.5), F(0.51)],
                    ),
                    alpha: F(1.0),
                ),
                children: [],
                mapping: {Rotation: Sin(Sum(Mul(GT, F(0.2)), Mul(Index, F(0.13))))},
                count: 4,
            ),
            statuses: [("Thorns", 2)],
        ),
    ],
)