#![enable(implicit_some)]
(
    name: "Holy",
    color: ("#FFF176"),
    statuses: [
        (
            name: "Blessing",
            description: "+{Charges}/+{Charges}",
            trigger: List(
                [
                    Change(
                        trigger: Var(Hp),
                        expr: Context(Charges),
                    ),
                    Change(
                        trigger: Var(Atk),
                        expr: Context(Charges),
                    ),
                ],
            ),
        ),
    ],
    abilities: [
        (
            name: "Blessing",
            description: "Give +1/+1",
            effect: List(
                [
                    AddStatus(
                        "Blessing",
                    ),
                    Vfx("apply_status"),
                ],
            ),
        ),
    ],
)