#![enable(implicit_some)]
(
    name: "Mages",
    color: ("#1E88E5"),
    statuses: [],
    abilities: [
        (
            name: "Magic Missile",
            description: "Deal 1 DMG to random enemy",
            effect: WithVar(
                Faction,
                OppositeFaction,
                WithTarget(
                    RandomUnit,
                    List(
                        [
                            Damage(
                                Int(1),
                            ),
                            Vfx(
                                "magic_missile",
                            ),
                        ],
                    ),
                ),
            ),
        ),
    ],
)