#![enable(implicit_some)]
(
    name: "Mages",
    color: ("#1E88E5"),
    defaults: {"Magic Missile": {Damage: Int(1)}},
    abilities: [
        (
            name: "Magic Missile",
            description: "Deal {Damage} DMG to random enemy",
            effect: Repeat(
                Context(Charges),
                List([Damage(AbilityContext("Magic Missile", Damage)), Vfx("magic_missile")]),
            ),
        ),
    ],
)