#![enable(implicit_some)]
(
    name: "Medics",
    color: ("#42A5F5"),
    statuses: [
        (
            name: "Vitality",
            description: "+$Charges [vb Hp]",
            polarity: 1,
            trigger: Change(trigger: Var(Hp), expr: Context(Charges)),
        ),
    ],
    abilities: [
        (
            name: "Vitality",
            description: "Give [vb [b +1]] [vb Hp]",
            effect: List([Vfx("apply_status"), ChangeStatus("Vitality")]),
        ),
        (
            name: "Mend",
            description: "Heal $Pwr amount of damage",
            effect: WithVar(Value, Sum(Context(Pwr), Sub(Context(Charges), I(1))), Heal),
        ),
    ],
)