#![enable(implicit_some)]
(
    name: "Meta",
    color: ("#EA80FC"),
    statuses: [],
    abilities: [
        (
            name: "Amnesia",
            description: "Remove ability of a unit",
            effect: List(
                [
                    RemoveLocalTrigger,
                    Vfx("apply_status"),
                ],
            ),
        ),
    ],
)