#![enable(implicit_some)]
(
    name: "Meta",
    color: ("#EA80FC"),
    statuses: [],
    abilities: [
        (
            name: "Amnesia",
            description: "Remove ability of a unit",
            effect: List([RemoveLocalTrigger, Vfx("apply_status")]),
        ),
        (
            name: "Betray",
            description: "Deal PWR DMG to adjacent allies",
            effect: WithOwner(
                Target,
                List([Text(String("Betray")), WithTarget(AdjacentUnits, Damage(None))]),
            ),
        ),
    ],
)