#![enable(implicit_some)]
(
    name: "Meta",
    color: ("#EA80FC"),
    statuses: [],
    abilities: [
        (
            name: "Amnesia",
            description: "Reduce all statuses, limit max [vb Charges]",
            effect: List([ClearAllStatuses, Vfx("apply_status")]),
        ),
        (
            name: "Betray",
            description: "Deal $Pwr $Dmg to adjacent allies",
            effect: List(
                [
                    Vfx("apply_status"),
                    List([Text(S("Betray")), WithOwner(Target, WithTarget(AdjacentUnits, Damage))]),
                ],
            ),
        ),
    ],
)