#![enable(implicit_some)]
(
    name: "Paladins",
    color: ("#F06292"),
    statuses: [
        (
            name: "Shield",
            description: "Block next incoming damage {Charges} times",
            trigger: List(
                [
                    Change(trigger: IncomingDamage, expr: Mul(Context(Value), Int(-1))),
                    Fire(
                        trigger: AfterIncomingDamage,
                        effect: WithVar(Charges, Int(-1), AddStatus("Shield")),
                    ),
                ],
            ),
        ),
    ],
    abilities: [
        (
            name: "Shield",
            description: "Block next incoming damage",
            effect: List([AddStatus("Shield"), Vfx("apply_status")]),
        ),
        (
            name: "Summon Guardian Angel",
            description: "Summon {10}/{1} with [Shield] ({1})",
            effect: Summon("Guardian Angel"),
        ),
    ],
    summons: [
        (
            name: "Guardian Angel",
            hp: 1,
            atk: 10,
            stacks: 1,
            level: 1,
            houses: "Paladins",
            description: "",
            trigger: Fire(trigger: Noop, target: Owner, effect: Noop, period: 0),
            representation: (
                material: Shape(
                    shape: Circle(
                        radius: Mul(
                            Abs(
                                Sin(
                                    Sum(Mul(GameTime, Float(0.5)), Mul(Index, Mul(PI, Float(0.05)))),
                                ),
                            ),
                            Sum(Float(0.95), Mul(Beat, Float(0.1))),
                        ),
                    ),
                    shape_type: Line(thickness: Float(1.0)),
                    alpha: Float(1.0),
                ),
                children: [],
                mapping: {},
                count: 7,
            ),
            state: (history: {}, birth: 0.0),
            statuses: [("Shield", 1)],
        ),
    ],
)