#![enable(implicit_some)]
(
    name: "Paladins",
    color: ("#F06292"),
    statuses: [
        (
            name: "Shield",
            description: "Block next incoming damage {Charges} times",
            trigger: List(
                [
                    Change(
                        trigger: IncomingDamage,
                        expr: Mul(
                            Context(
                                Value,
                            ),
                            Int(-1),
                        ),
                    ),
                    Fire(
                        trigger: AfterIncomingDamage,
                        effect: WithVar(
                            Charges,
                            Int(-1),
                            AddStatus(
                                "Shield",
                            ),
                        ),
                    ),
                ],
            ),
        ),
    ],
    abilities: [
        (
            name: "Shield",
            description: "Block next incoming damage",
            effect: List(
                [
                    AddStatus("Shield"),
                    Vfx("apply_status"),
                ],
            ),
        ),
    ],
)