#![enable(implicit_some)]
(
    name: "Paladins",
    color: ("#F06292"),
    statuses: [
        (
            name: "Shield",
            description: "Absorb {Charges} DMG",
            polarity: 1,
            trigger: List(
                [
                    Change(
                        trigger: IncomingDamage,
                        expr: Sub(I(0), Min(Context(Charges), Context(Value))),
                    ),
                    Fire(
                        triggers: [(AfterIncomingDamage, None)],
                        effects: [
                            (
                                If(
                                    GreaterThen(Context(Value), I(0)),
                                    WithVar(
                                        Charges,
                                        Sub(I(0), Min(Context(Value), Context(Charges))),
                                        ChangeStatus("Shield"),
                                    ),
                                    Noop,
                                ),
                                None,
                            ),
                        ],
                    ),
                ],
            ),
        ),
    ],
    abilities: [
        (
            name: "Shield",
            description: "Absorb {1} DMG",
            effect: List([Vfx("apply_status"), ChangeStatus("Shield")]),
        ),
        (
            name: "Summon Guardian Angel",
            description: "Summon 10/1 with [Shield] ({1})",
            effect: Summon("Guardian Angel", ChangeStatus("Shield")),
        ),
    ],
    summons: [
        (
            name: "Guardian Angel",
            hp: 1,
            pwr: 10,
            xp: 1,
            houses: ["Paladins"],
            representation: (
                material: Shape(
                    shape: Circle(
                        radius: Mul(
                            Abs(Sin(Sum(Mul(GT, F(0.5)), Mul(Index, Mul(PI, F(0.05)))))),
                            Sum(F(0.95), Mul(Beat, F(0.1))),
                        ),
                    ),
                    shape_type: Line(thickness: F(1.0)),
                    alpha: F(1.0),
                ),
                children: [],
                mapping: {},
                count: 7,
            ),
        ),
    ],
)