#![enable(implicit_some)]
(
    name: "Rogues",
    color: ("#FFD600"),
    statuses: [
        (
            name: "Expose",
            description: "Damage taken +{Charges}",
            trigger: Change(trigger: IncomingDamage, expr: Context(Charges)),
        ),
    ],
    abilities: [
        (name: "Expose", description: "Increase taken damage by {1}", effect: AddStatus("Expose")),
        (
            name: "Rob",
            description: "Steal all statuses, limit max {Charges}",
            effect: StealAllStatuses,
        ),
    ],
)