#![enable(implicit_some)]
(
    name: "Rogues",
    color: ("#FFD600"),
    statuses: [
        (
            name: "Expose",
            description: "Damage taken +$Charges",
            polarity: -1,
            trigger: Change(trigger: IncomingDamage, expr: Context(Charges)),
        ),
    ],
    abilities: [
        (
            name: "Expose",
            description: "Increase taken damage by $Charges",
            effect: List([Vfx("apply_status"), ChangeStatus("Expose")]),
        ),
        (
            name: "Rob",
            description: "Steal all positive statuses, max $Charges",
            effect: List([WithVar(Polarity, I(1), StealAllStatuses), Vfx("apply_status")]),
        ),
    ],
)