#![enable(implicit_some)]
(
    name: "Shifters",
    color: ("#F5F5F5"),
    statuses: [],
    abilities: [
        (
            name: "Full Copy",
            description: "Copy all target vars, statuses and triggers",
            effect: List([FullCopy, Vfx("apply_status")]),
        ),
    ],
)