#![enable(implicit_some)]
(
    name: "Warlocks",
    color: ("#7B1FA2"),
    statuses: [
        (
            name: "Doom",
            description: "Die in $Charges turns then summon Doomguard",
            polarity: 0,
            trigger: Fire(
                triggers: [(TurnEnd, None)],
                effects: [
                    (
                        If(
                            Equals(StatusCharges("Doom"), I(1)),
                            List(
                                [
                                    WithTarget(Owner, Kill),
                                    WithVar(
                                        Faction,
                                        StatusStateLast("Doom", Faction),
                                        Summon("Doomguard", None),
                                    ),
                                ],
                            ),
                            Noop,
                        ),
                        None,
                    ),
                    (WithVar(Charges, I(-1), WithTarget(Owner, ChangeStatus("Doom"))), None),
                ],
            ),
        ),
    ],
    abilities: [
        (
            name: "Doom",
            description: "Kill target in [vb [b 5]] turns then summon allied [Doomguard]",
            effect: List(
                [
                    WithVar(Charges, I(5), List([Vfx("apply_status"), ChangeStatus("Doom")])),
                    StatusSetVar(Target, "Doom", Faction, Context(Faction)),
                ],
            ),
        ),
        (
            name: "Ritual",
            description: "Kill self and target, summon enemy [Doomguard]",
            effect: If(
                GreaterThen(Context(Hp), Context(Dmg)),
                List(
                    [
                        WithTarget(Owner, Kill),
                        Kill,
                        WithVar(Faction, TargetState(Faction), Summon("Doomguard", None)),
                    ],
                ),
                Noop,
            ),
        ),
    ],
    summons: [
        (
            name: "Doomguard",
            hp: 10,
            pwr: 10,
            houses: ["Warlocks"],
            representation: (
                material: Shape(
                    shape: Circle(
                        radius: Sum(F(0.9), Mul(Abs(Sin(Mul(Sum(GT, Index), F(29.2)))), F(-0.6))),
                    ),
                    shape_type: Line(thickness: F(1.0)),
                    alpha: F(1.0),
                ),
                children: [],
                mapping: {Offset: Mul(UnitVec(Mul(Sin(Sum(GT, Index)), F(100.0))), F(0.05))},
                count: 10,
            ),
        ),
    ],
)