#![enable(implicit_some)]
(
    name: "Warriors",
    color: ("#4E342E"),
    statuses: [
        (
            name: "Strength",
            description: "+1 ATK",
            trigger: ChangeVar(Atk, Int(1)),
            representation: (
                material: Shape(
                    shape: Circle,
                    color: ("#4E342E"),
                    size: Vec2E(State(Radius)),
                ),
            ),
        ),
    ],
    abilities: [
        (
            name: "Strength",
            description: "Give +1 ATK",
            effect: (
                effect: AddStatus("Strength"),
            ),
        ),
    ],
)