#![enable(implicit_some)]
(
    name: "Warriors",
    color: ("#B86125"),
    statuses: [
        (
            name: "Strength",
            description: "+{Charges} Pwr",
            polarity: 1,
            trigger: Change(trigger: Var(Pwr), expr: Context(Charges)),
        ),
    ],
    abilities: [
        (
            name: "Strength",
            description: "Give +{1} Pwr",
            effect: List([Vfx("apply_status"), ChangeStatus("Strength")]),
        ),
    ],
)