#![enable(implicit_some)]
(
    name: "Warriors",
    color: ("#8D6E63"),
    statuses: [
        (
            name: "Strength",
            description: "+1 ATK",
            trigger: DeltaVar(
                        Atk,
                Context(Charges),
                    ),
        ),
    ],
    abilities: [
        (
            name: "Strength",
            description: "Give +1 ATK",
            effect: AddStatus("Strength"),
        ),
    ],
)