#![enable(implicit_some)]
(
    name: "Witches",
    color: ("#673AB7"),
    statuses: [
        (
            name: "Weakness",
            description: "-{Charges} ATK",
            trigger: Change(trigger: Var(Atk), expr: Sub(Int(0), Context(Charges))),
        ),
    ],
    abilities: [(name: "Weakness", description: "-1 ATK", effect: AddStatus("Weakness"))],
)