#![enable(implicit_some)]
(
    name: "Witches",
    color: ("#673AB7"),
    statuses: [
        (
            name: "Weakness",
            description: "-$Charges [vb Pwr]",
            polarity: -1,
            trigger: Change(trigger: Var(Pwr), expr: Sub(I(0), Context(Charges))),
        ),
    ],
    abilities: [
        (
            name: "Weakness",
            description: "[vb [b -1]] [vb Pwr]",
            effect: List([Vfx("apply_status"), ChangeStatus("Weakness")]),
        ),
    ],
)