[
    spawn(
        (
            [
                scale_rect(f32(2.0)),
                color(color(HexColor("#a70101ab"))),
                alpha(sub(f32(4.0), mul(var(t), f32(4.0)))),
                repeat(
                    i32(30),
                    list(
                        [
                            circle(f32(0.2)),
                            scale_mesh(mul(var(t), f32(1.0))),
                            translate(
                                mul(
                                    unit_vec(mul(rand(var(index)), pi2)),
                                    min(
                                        mul(var(t), sum(rand(sub(var(index), f32(10.0))), one)),
                                        f32(0.9),
                                    ),
                                ),
                            ),
                            paint,
                        ],
                    ),
                ),
            ],
        ),
    ),
]