[
    spawn(
        (
            [
                color(fallback(var(color), color("#ffffff"))),
                feathering(mul(f32(50.0), var(t))),
                alpha(sub(f32(1.0), var(t))),
                curve(thickness: f32(0.1), curvature: f32(2.0)),
            ],
        ),
    ),
    spawn(
        (
            [
                color(fallback(var(color), color("#ffffff"))),
                alpha(less_then(var(t), f32(0.1))),
                curve(thickness: f32(0.1), curvature: f32(2.0)),
            ],
        ),
    ),
]