[
    Spawn(
        (
            [
                Feathering(Mul(F(50.0), Var(t))),
                Alpha(Sub(F(1.0), Var(t))),
                Curve(thickness: F(0.1), curvature: F(2.0)),
            ],
        ),
    ),
    Spawn(
        (
            [
                Alpha(LessThen(Var(t), F(0.1))),
                Curve(thickness: F(0.1), curvature: F(2.0)),
            ],
        ),
    ),
]