[
    duration(f32(0.2)),
    set_target(owner),
    translate(sum(var(position), vec2_ee(sub(zero, unit_size), zero))),
    set_target(target),
    translate(sum(var(position), vec2_ee(unit_size, zero))),
]