[
    duration(f32(3.5)),
    spawn(
        (
            [
                color(var(color)),
                alpha(sub(f32(4.0), mul(var(t), f32(4.0)))),
                text(var(text)),
                scale_mesh(var(scale)),
                translate(vec2_ee(zero, sub(f32(-0.7), mul(var(t), f32(1.1))))),
            ],
        ),
    ),
]