[
    duration(f32(3.0)),
    spawn(
        (
            [
                color(var(color)),
                alpha(sub(f32(4.0), mul(var(t), f32(4.0)))),
                text(var(text)),
                translate(vec2_ee(zero, sub(zero, mul(var(t), f32(4.0))))),
            ],
        ),
    ),
]