(
    anim: Run(
        [
            Change(var: Thickness, value: Float(1.0)),
            Change(var: Thickness, value: Float(3.0), tween: QuartOut, duration: Float(0.3)),
            Change(var: Alpha, value: Float(0.4)),
            Change(var: Alpha, value: Float(0.0), tween: QuartOut, duration: Float(0.3)),
            Change(var: Visible, value: Bool(false), t: 1.0),
        ],
    ),
    representation: (
        material: Curve(
            color: Hex("#ffffff"),
            curvature: Float(1.0),
            thickness: Float(2.0),
            aa: Float(0.5),
            alpha: LessThen(Age, Float(0.05)),
            dilations: [(Float(0.0), Float(-1.0)), (Float(1.0), Float(2.0))],
        ),
        children: [
            (
                material: Curve(
                    color: Hex("#ffffff"),
                    curvature: Float(1.0),
                    thickness: OwnerState(Thickness),
                    aa: Float(0.5),
                    alpha: OwnerState(Alpha),
                    dilations: [(Float(0.0), Float(-1.0)), (Float(1.0), Float(4.0))],
                ),
            ),
        ],
    ),
)