(
    timeframe: 1.0,
    anim: Run(
        [
            Change(
                var: T,
                value: Float(0.5),
            ),
            Change(
                var: Thickness,
                value: Float(1.5),
            ),
            Change(
                var: T,
                value: Float(1.0),
                duration: Float(0.2),
            ),
            Change(
                var: Thickness,
                value: Float(0.0),
                duration: Float(0.3),
                tween: Linear,
            ),
            Change(
                var: Visible,
                value: Bool(false),
                t: 1.3,
            ),
        ],
    ),
    representation: (
        material: Curve(
            color: State(Color),
            curvature: Float(0.6),
            thickness: State(Thickness),
            aa: Float(0.5),
            dilations: [
                (
                    Float(0.0),
                    Float(-1.0),
                ),
                (
                    Mul(Age, Float(2.0)),
                    Float(-1.0),
                ),
                (Float(1.0), Float(3.0)),
            ],
        ),
        children: [
            (
                material: Curve(
                    color: Hex("#ffffff"),
                    curvature: Float(0.6),
                    thickness: Mul(
                        Float(0.3),
                        State(Thickness),
                    ),
                    aa: Float(0.1),
                    dilations: [
                        (
                            Float(0.0),
                            Float(-1.0),
                        ),
                        (
                            Mul(
                                Age,
                                Float(
                                    2.0,
                                ),
                            ),
                            Float(-1.0),
                        ),
                        (
                            Float(1.0),
                            Float(7.0),
                        ),
                    ],
                ),
                mapping: {
                    Visible: LessThen(
                        Age,
                        Float(0.1),
                    ),
                },
            ),
        ],
    ),
)