(
    anim: Run(
        [
            Change(
                var: Position,
                value: Sum(
                    StateLast(Position),
                    Vec2(0.0, 1.0),
                ),
            ),
            Change(
                var: Position,
                value: Sum(
                    StateLast(Position),
                    Vec2(0.0, 5.0),
                ),
                duration: Float(1.0),
                tween: Linear,
            ),
            Change(
                var: Visible,
                value: Bool(false),
                t: 1.0,
            ),
            Change(
                var: Alpha,
                value: Float(1.0),
            ),
            Change(
                var: Alpha,
                value: Float(0.0),
                t: 0.7,
                duration: Float(0.3),
            )
        ],
    ),
    representation: (
        material: Text(
            text: State(Text),
            color: State(Color),
            size: Sub(Float(1.0), Mul(Age, Float(0.4))),
            alpha: State(Alpha),
        ),
    ),
)