(
    timeframe: 0.1,
    anim: Run(
        [
            Change(
                var: Position,
                value: Sum(
                    StateLast(Position),
                    Vec2(0.0, 1.0),
                ),
            ),
            Change(
                var: Position,
                value: Sum(
                    StateLast(Position),
                    Vec2(0.0, 2.0),
                ),
                duration: Float(0.7),
                tween: Linear,
            ),
            Change(
                var: Visible,
                value: Bool(false),
                t: 1.3,
            ),
            Change(
                var: Alpha,
                value: Float(1.0),
            ),
            Change(
                var: Alpha,
                value: Float(0.0),
                t: 1.0,
                duration: Float(0.3),
            ),
        ],
    ),
    representation: (
        material: Text(
            text: State(Text),
            color: State(Color),
            size: Sub(
                Float(0.7),
                Mul(Age, Float(0.3)),
            ),
            alpha: State(Alpha),
        ),
    ),
)