#![enable(implicit_some)]
(
    name: "Addict",
    hp: 1,
    atk: 3,
    stacks: 1,
    level: 1,
    houses: "Rogues",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AdjacentUnits, None)],
        effects: [(UseAbility("Rob", 1), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2(0.8, 0.47)),
            shape_type: Line(thickness: Float(1.0)),
            fill: GradientLinear(
                point1: Vec2(0.0, 0.0),
                point2: Vec2(1.0, 0.0),
                parts: [Float(0.3), Float(0.0)],
                colors: [OwnerState(Color), Hex("#ffffff")],
            ),
            fbm: (
                octaves: Int(3),
                lacunarity: Sin(Sum(Mul(GameTime, Float(0.2)), Mul(Index, Float(1.25)))),
                gain: Float(0.33),
                strength: Float(1.0),
                offset: Vec2(1.0, 1.0),
            ),
            alpha: Float(1.0),
            padding: Zero,
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(Mul(Sub(Index, Int(2)), Float(-0.28)), Float(0.0)),
            Rotation: Mul(Sum(Index, Int(1)), Float(0.7)),
        },
        count: 5,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)