(
    name: "Almsgiver",
    hp: 3,
    atk: 1,
    houses: "Holy",
    trigger: Fire(trigger: AllySummon, target: Target, effect: UseAbility("Blessing", 0), period: 0),
    representation: (
        material: Shape(
            shape: Circle(
                radius: Sum(Mul(Float(0.08), Index), Sum(Float(0.08), Sub(Zero, Mul(Beat, Float(0.02))))),
            ),
            shape_type: Line(thickness: Sum(Float(0.6), Mul(Sin(Sum(GameTime, Index)), Float(0.4)))),
            fill: Solid(color: State(Color)),
            alpha: Float(1.0),
        ),
        count: 8,
    ),
)