#![enable(implicit_some)]
(
    hp: 3,
    atk: 2,
    house: "Warriors",
    name: "Avenger",
    description: "Ally Died: gain Strength x2",
    trigger: AllyDeath(
        (
            effect: UseAbility("Strength"),
            target: Owner,
            vars: [(Charges, Int(2))],
        ),
    ),
    representation: (
        material: Shape(
            shape: Rectangle,
            color: ("#DD2C00"),
            size: Vec2E(State(Radius)),
        ),
        mapping: (
            {
                Rotation: Mul(
                    Sin(
                        Mul(
                            GameTime,
                            Float(0.2),
                        ),
                    ),
                    Float(10.9),
                ),
            },
        ),
    ),
    state: (
        history: {
            Radius: (
                [
                    (
                        t: 0.0,
                        value: Float(0.0001),
                    ),
                    (
                        t: 0.0,
                        duration: 0.5,
                        tween: QuartOut,
                        value: Float(0.5),
                    ),
                ],
            ),
        },
    ),
)