#![enable(implicit_some)]
(
    name: "Battle Mage",
    hp: 4,
    pwr: 1,
    rarity: 1,
    houses: ["Mages"],
    trigger: Fire(
        triggers: [(AfterStrike, None)],
        targets: [],
        effects: [
            (
                Repeat(I(3), WithTarget(RandomEnemy, UseAbility("Magic Missile", 0))),
                "use [Magic Missile] ({Lvl}) on random enemy 3 times",
            ),
        ],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.12)),
            shape_type: Opaque,
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(Sum(Index, Mul(Sin(Sum(GT, Mul(Index, F(10.0)))), PI2))),
                Sum(F(0.3), Mul(Sin(Sum(GT, Index)), F(0.4))),
            ),
        },
        count: 3,
    ),
)