#![enable(implicit_some)]
(
    name: "Battle Mage",
    hp: 4,
    pwr: 1,
    stacks: 1,
    level: 1,
    houses: "Mages",
    trigger: Fire(
        triggers: [(AfterStrike, None)],
        targets: [],
        effects: [
            (
                Repeat(Int(3), WithTarget(RandomEnemy, UseAbility("Magic Missile", 0))),
                "use [Magic Missile] ({Level}) on random enemy 3 times",
            ),
        ],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(0.12)),
            shape_type: Opaque,
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(Sum(Index, Mul(Sin(Sum(GameTime, Mul(Index, Float(10.0)))), PI2))),
                Sum(Float(0.3), Mul(Sin(Sum(GameTime, Index)), Float(0.4))),
            ),
        },
        count: 3,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)