#![enable(implicit_some)]
(
    name: "Bolla",
    hp: 1,
    atk: 1,
    houses: "Dragons",
    trigger: Fire(trigger: TurnEnd, effect: UseAbility("Grow", 0)),
    representation: (
        material: Shape(shape: Circle(radius: Float(0.5)), shape_type: Opaque, alpha: Float(0.2)),
        mapping: {
            Offset: Mul(
                UnitVec(
                    Sum(
                        GameTime,
                        Mul(
                            IntFloat(OwnerState(Index)),
                            Sum(Float(1.04), Mul(Sin(GameTime), Float(0.24))),
                        ),
                    ),
                ),
                Float(0.19),
            ),
        },
        count: 6,
    ),
)