#![enable(implicit_some)]
(
    name: "Bolla",
    hp: 1,
    atk: 1,
    houses: "Dragons",
    trigger: Fire(trigger: TurnEnd, effect: UseAbility("Grow")),
    representation: (
        material: Shape(
            shape: Circle,
            fill: Opaque,
            size: Vec2E(Float(0.5)),
            thickness: Float(1.0),
            alpha: Float(0.2),
            color: State(Color),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(
                    Sum(
                        GameTime,
                        Mul(
                            IntFloat(State(Index)),
                            Sum(Float(1.04), Mul(Sin(GameTime), Float(0.24))),
                        ),
                    ),
                ),
                Float(0.19),
            ),
        },
        count: 6,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)