#![enable(implicit_some)]
(
    name: "Booster",
    hp: 2,
    pwr: 0,
    rarity: 0,
    houses: ["Medics"],
    trigger: Fire(
        triggers: [(TurnEnd, None)],
        targets: [(MaxUnit(Context(Slot), AllAllyUnits), "last ally")],
        effects: [(UseAbility("Vitality", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Sum(F(0.4), Mul(Index, F(-0.09)))),
            shape_type: Line(thickness: Sum(F(1.3), Cos(Sum(GT, Index)))),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(0.5),
            padding: F(0.4),
        ),
        children: [],
        mapping: {Offset: Vec2EE(Sum(Mul(Index, F(0.32)), F(-0.37)), Mul(Sin(Sum(GT, Index)), F(0.15)))},
        count: 4,
    ),
)