#![enable(implicit_some)]
(
    name: "Caster",
    hp: 1,
    pwr: 1,
    rarity: 1,
    houses: ["Mages"],
    trigger: Fire(
        triggers: [(AllyDeath, None)],
        targets: [(TargetStateLast(LastAttacker), "last attacker")],
        effects: [(UseAbility("Magic Missile", 2), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.15)),
            shape_type: Opaque,
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.0),
        ),
        children: [
            (
                material: Shape(
                    shape: Circle(radius: F(0.32)),
                    shape_type: Line(thickness: F(1.0)),
                    fill: Solid(color: OwnerState(Color)),
                    fbm: None,
                    alpha: F(1.0),
                    padding: F(0.0),
                ),
                children: [],
                mapping: {},
                count: 0,
            ),
        ],
        mapping: {
            Offset: Vec2EE(
                Mul(Sin(Sum(GT, Mul(Index, F(4.0)))), F(0.3)),
                Mul(Cos(Sum(Mul(F(3.0), GT), Index)), F(0.1)),
            ),
        },
        count: 2,
    ),
)