#![enable(implicit_some)]
(
    name: "Caster",
    hp: 1,
    pwr: 1,
    stacks: 1,
    level: 1,
    houses: "Mages",
    trigger: Fire(
        triggers: [(AllyDeath, None)],
        targets: [(TargetStateLast(LastAttacker), "last attacker")],
        effects: [(UseAbility("Magic Missile", 2), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(0.15)),
            shape_type: Opaque,
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.0),
        ),
        children: [
            (
                material: Shape(
                    shape: Circle(radius: Float(0.32)),
                    shape_type: Line(thickness: Float(1.0)),
                    fill: Solid(color: OwnerState(Color)),
                    fbm: None,
                    alpha: Float(1.0),
                    padding: Float(0.0),
                ),
                children: [],
                mapping: {},
                count: 0,
            ),
        ],
        mapping: {
            Offset: Vec2EE(
                Mul(Sin(Sum(GameTime, Mul(Index, Float(4.0)))), Float(0.3)),
                Mul(Cos(Sum(Mul(Float(3.0), GameTime), Index)), Float(0.1)),
            ),
        },
        count: 2,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)