(
    name: "Coach",
    hp: 3,
    atk: 3,
    stacks: 1,
    level: 1,
    houses: "Warriors",
    description: "%trigger → %effect on %target",
    trigger: Fire(trigger: AllySummon, target: Target, effect: UseAbility("Strength"), period: 0),
    representation: (
        material: Shape(
            shape: Rectangle,
            fill: Line,
            fill_color: Solid,
            size: Vec2E(Sum(Mul(Float(0.16), Index), Sum(Float(0.08), Sub(Zero, Mul(Beat, Float(0.02)))))),
            point1: Vec2(1.0, 1.0),
            point2: Vec2(1.0, 1.0),
            thickness: Sum(Float(0.6), Mul(Sin(Sum(GameTime, Index)), Float(0.4))),
            alpha: Float(1.0),
            colors: [State(Color)],
            parts: [Float(0.0)],
        ),
        children: [],
        mapping: {},
        count: 8,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)