#![enable(implicit_some)]
(
    name: "Coach",
    hp: 3,
    pwr: 3,
    rarity: 1,
    houses: ["Warriors"],
    trigger: Fire(
        triggers: [(AllySummon, None)],
        targets: [(Target, None)],
        effects: [(UseAbility("Strength", 3), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(
                size: Vec2E(Sum(Mul(F(0.16), Index), Sum(F(0.08), Sub(Zero, Mul(Beat, F(0.02)))))),
            ),
            shape_type: Line(thickness: Sum(F(0.6), Mul(Sin(Sum(GT, Index)), F(0.4)))),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.0),
        ),
        children: [],
        mapping: {},
        count: 8,
    ),
)