(
    name: "Commander",
    hp: 2,
    atk: 3,
    stacks: 1,
    level: 1,
    houses: "Warriors",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AdjacentUnits, None)],
        effects: [(UseAbility("Strength", 1), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(
                size: Vec2E(
                    Sum(
                        Mul(Float(0.11), Index),
                        Sum(Float(0.52), Sub(Zero, Mul(Beat, Float(0.05)))),
                    ),
                ),
            ),
            shape_type: Line(thickness: Sum(Float(0.6), Mul(Sin(Sum(GameTime, Index)), Float(0.4)))),
            fill: Solid(color: OwnerState(Color)),
            alpha: Float(1.0),
        ),
        children: [],
        mapping: {
            Offset: Sum(
                Mul(UnitVec(GameTime), Mul(Index, Float(0.04))),
                Vec2EE(Mul(Sin(GameTime), Float(0.1)), Zero),
            ),
        },
        count: 6,
    ),
)