#![enable(implicit_some)]
(
    name: "Crusader",
    hp: 1,
    pwr: 1,
    rarity: 3,
    houses: ["Holy"],
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(Owner, None)],
        effects: [
            (
                WithVar(Lvl, Mul(ListCount(AllEnemyUnits), Context(Lvl)), UseAbility("Blessing", 0)),
                "use [Blessing] $Lvl per enemy",
            ),
        ],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: V2(0.5, 1.82)),
            shape_type: Line(thickness: F(3.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(0.3),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            Rotation: Even(Index),
            Offset: Vec2EE(
                Mul(Sin(Sum(Mul(Index, F(0.3)), GT)), F(0.1)),
                Mul(Cos(Sum(Mul(Index, F(0.3)), GT)), F(0.1)),
            ),
        },
        count: 8,
    ),
)