(
    name: "Crusader",
    hp: 1,
    atk: 2,
    stacks: 1,
    level: 1,
    houses: "Holy",
    description: "%trigger → gain {Level} [Blessing] per enemy",
    trigger: Fire(
        trigger: BattleStart,
        target: Owner,
        effect: WithVar(
            Faction,
            OppositeFaction,
            WithVar(Charges, UnitCount(Bool(true)), UseAbility("Blessing")),
        ),
        period: 0,
    ),
    representation: (
        material: Shape(
            shape: Rectangle,
            fill: Line,
            size: Vec2(0.5, 1.82),
            thickness: Float(3.0),
            alpha: Float(0.3),
            color: State(Color),
        ),
        children: [],
        mapping: {
            Rotation: Even(Index),
            Offset: Vec2EE(
                Mul(Sin(Sum(Mul(Index, Float(0.3)), GameTime)), Float(0.1)),
                Mul(Cos(Sum(Mul(Index, Float(0.3)), GameTime)), Float(0.1)),
            ),
        },
        count: 8,
    ),
)