(
    name: "Crusader",
    hp: 1,
    atk: 2,
    stacks: 1,
    level: 1,
    houses: "Holy",
    description: "%trigger → %effect on %target",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(Owner, None)],
        effects: [
            (
                WithVar(
                    Faction,
                    OppositeFaction,
                    WithVar(
                        Level,
                        Mul(UnitCount(Bool(true)), Context(Level)),
                        UseAbility("Blessing", 0),
                    ),
                ),
                Some("use [Blessing] ({Level}) per enemy"),
            ),
        ],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2(0.5, 1.82)),
            shape_type: Line(thickness: Float(3.0)),
            fill: Solid(color: OwnerState(Color)),
            alpha: Float(0.3),
        ),
        children: [],
        mapping: {
            Rotation: Even(Index),
            Offset: Vec2EE(
                Mul(Sin(Sum(Mul(Index, Float(0.3)), GameTime)), Float(0.1)),
                Mul(Cos(Sum(Mul(Index, Float(0.3)), GameTime)), Float(0.1)),
            ),
        },
        count: 8,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)