#![enable(implicit_some)]
(
    name: "Cursed",
    hp: 3,
    atk: 1,
    stacks: 1,
    level: 1,
    houses: "Witches",
    trigger: Fire(
        triggers: [(BeforeDeath, None)],
        targets: [(OwnerStateLast(LastAttacker), None)],
        effects: [(UseAbility("Weakness", 4), None)],
    ),
    representation: (
        material: Curve(
            thickness: Float(0.5),
            dilations: [],
            curvature: Mul(
                Sum(Float(0.5), Mul(Index, Float(0.1))),
                Abs(Sin(Sum(GameTime, Mul(Index, Float(0.2))))),
            ),
            aa: Float(1.0),
            color: OwnerState(Color),
        ),
        children: [],
        mapping: {Offset: Vec2EE(Float(-1.0), Float(0.0)), Delta: Vec2EE(Float(2.0), Float(0.0))},
        count: 9,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)