#![enable(implicit_some)]
(
    name: "Detective",
    hp: 2,
    pwr: 2,
    stacks: 1,
    rarity: 3,
    houses: "Rogues",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AllEnemyUnits, None)],
        effects: [(UseAbility("Expose", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Sum(Sum(Float(0.81), Mul(Index, Float(-0.13))), Mul(Beat, Float(0.05)))),
            shape_type: Line(thickness: Float(0.4)),
            fill: GradientRadial(
                center: Vec2(0.0, 0.0),
                radius: Float(1.0),
                parts: [Float(0.0), Float(0.75)],
                colors: [OwnerState(Color), Hex("6262621f")],
            ),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.2),
        ),
        children: [],
        mapping: {},
        count: 7,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)