#![enable(implicit_some)]
(
    name: "Divinity",
    hp: 3,
    pwr: 0,
    rarity: 1,
    houses: ["Holy"],
    trigger: Fire(
        triggers: [(TurnEnd, None)],
        targets: [
            (
                RandomUnit(FilterStatusUnits("Blessing", AllAllyUnits)),
                Some("random ally with [Blessing]"),
            ),
        ],
        effects: [(UseAbility("Blessing", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.8)),
            shape_type: Line(thickness: F(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: (
                octaves: I(3),
                lacunarity: Mul(Index, F(2.0)),
                gain: Sum(F(0.2), Mul(Beat, F(0.2))),
                strength: F(1.0),
                offset: Mul(GT, F(0.2)),
            ),
            alpha: F(0.5),
            padding: F(0.1),
        ),
        children: [],
        mapping: {},
        count: 4,
    ),
)