#![enable(implicit_some)]
(
    name: "Doppelganger",
    hp: 2,
    pwr: 3,
    stacks: 1,
    level: 1,
    houses: "Shifters",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(RandomAdjacentUnit, None)],
        effects: [(UseAbility("Copy", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(0.72)),
            shape_type: Line(thickness: Float(2.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Float(0.4),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(Mul(IntFloat(OwnerState(Index)), Mul(PI, Float(0.5)))),
                Mul(Beat, Float(0.5)),
            ),
        },
        count: 4,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)