#![enable(implicit_some)]
(
    name: "Enhancer",
    hp: 1,
    pwr: 0,
    rarity: 0,
    houses: ["Mages"],
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [],
        effects: [(AbilityStateAddVar("Magic Missile", Damage, Context(Lvl)), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(
                radius: Max(Sin(Sum(Sum(GT, Mul(PI, F(1.5))), Index)), Sum(F(0.4), Mul(Index, F(0.05)))),
            ),
            shape_type: Line(thickness: F(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Context(T),
            padding: F(0.0),
        ),
        children: [],
        mapping: {T: Sin(Sum(GT, Index))},
        count: 4,
    ),
)