(
    name: "Enhancer",
    hp: 1,
    atk: 0,
    stacks: 1,
    level: 1,
    houses: "Mages",
    description: "%trigger → [Magic Missile] {+1} {DMG}",
    trigger: Fire(
        trigger: BattleStart,
        target: Owner,
        effect: AbilityStateAddVar("Magic Missile", Value, Int(1)),
    ),
    representation: (
        material: Shape(
            shape: Circle(
                radius: Max(
                    Sin(Sum(Sum(GameTime, Mul(PI, Float(1.5))), Index)),
                    Sum(Float(0.4), Mul(Index, Float(0.05))),
                ),
            ),
            shape_type: Line(thickness: Float(1.0)),
            fill: Solid(color: OwnerState(Color)),
            alpha: Context(T),
        ),
        children: [],
        mapping: {T: Sin(Sum(GameTime, Index))},
        count: 4,
    ),
)