#![enable(implicit_some)]
(
    name: "Enhancer",
    hp: 1,
    pwr: 0,
    stacks: 1,
    level: 1,
    houses: "Mages",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [],
        effects: [(AbilityStateAddVar("Magic Missile", Damage, Context(Level)), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(
                radius: Max(
                    Sin(Sum(Sum(GameTime, Mul(PI, Float(1.5))), Index)),
                    Sum(Float(0.4), Mul(Index, Float(0.05))),
                ),
            ),
            shape_type: Line(thickness: Float(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Context(T),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {T: Sin(Sum(GameTime, Index))},
        count: 4,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)