#![enable(implicit_some)]
(
    name: "Equalizer",
    hp: 4,
    pwr: 2,
    rarity: 3,
    houses: ["Alchemists"],
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AllUnits, None)],
        effects: [(UseAbility("Petrify", 3), None)],
    ),
    representation: (
        material: None,
        children: [
            (
                material: Shape(
                    shape: Rectangle(size: Vec2E(F(1.5))),
                    shape_type: Line(thickness: F(1.0)),
                    fill: Solid(color: OwnerState(Color)),
                    fbm: None,
                    alpha: F(1.0),
                    padding: F(0.0),
                ),
                children: [],
                mapping: {
                    Rotation: Sum(
                        Mul(Mul(PI, F(0.25)), Index),
                        Mul(Sin(Mul(Sum(GT, Mul(Index, Sum(F(0.2), Beat))), F(0.5))), F(0.5)),
                    ),
                },
                count: 8,
            ),
        ],
        mapping: {},
        count: 0,
    ),
)