#![enable(implicit_some)]
(
    name: "Equalizer",
    hp: 2,
    pwr: 1,
    stacks: 1,
    level: 1,
    houses: "Alchemists",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AllUnits, None)],
        effects: [(UseAbility("Petrify", 0), None)],
    ),
    representation: (
        material: None,
        children: [
            (
                material: Shape(
                    shape: Rectangle(size: Vec2E(Float(1.5))),
                    shape_type: Line(thickness: Float(1.0)),
                    fill: Solid(color: OwnerState(Color)),
                    fbm: None,
                    alpha: Float(1.0),
                    padding: Float(0.0),
                ),
                children: [],
                mapping: {
                    Rotation: Sum(
                        Mul(Mul(PI, Float(0.25)), Index),
                        Mul(
                            Sin(Mul(Sum(GameTime, Mul(Index, Sum(Float(0.2), Beat))), Float(0.5))),
                            Float(0.5),
                        ),
                    ),
                },
                count: 8,
            ),
        ],
        mapping: {},
        count: 0,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)