#![enable(implicit_some)]
(
    name: "Experimenter",
    hp: 3,
    pwr: 1,
    stacks: 1,
    rarity: 0,
    houses: "Death Knights",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [],
        effects: [
            (
                AbilityStateAddVar("Summon Skeleton", M1, Int(1)),
                "[Skeleton] applies [Plague] on attack",
            ),
        ],
    ),
    representation: (
        material: Shape(
            shape: Circle(
                radius: Max(
                    Sin(Sum(Sum(GameTime, Mul(PI, Float(1.5))), Index)),
                    Sum(Float(0.11), Mul(Index, Float(0.05))),
                ),
            ),
            shape_type: Line(thickness: Float(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Context(T),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {T: Sin(Sum(GameTime, Index))},
        count: 4,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)