(
    name: "Famin",
    hp: 1,
    atk: 1,
    stacks: 1,
    level: 1,
    houses: "Death Knights",
    trigger: Fire(
        triggers: [(Period(0, 4, TurnEnd), Some("every 5 turns"))],
        targets: [(AllEnemyUnits, None)],
        effects: [(UseAbility("Plague", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(0.12)),
            shape_type: Line(thickness: Float(1.0)),
            fill: Solid(color: OwnerState(Color)),
            alpha: Sin(Context(T)),
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(
                Mul(
                    RandomFloatUnit(Owner),
                    Mul(Sin(Mul(GameTime, Sum(Float(0.4), Mul(Index, Float(0.1))))), Float(0.73)),
                ),
                Mul(Cos(Context(T)), Float(0.4)),
            ),
            T: Sum(Mul(GameTime, Float(2.0)), Index),
        },
        count: 16,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)