(
    name: "Famin",
    hp: 1,
    atk: 1,
    stacks: 1,
    level: 1,
    houses: "Death Knights",
    description: "%trigger → %effect on %target",
    trigger: Fire(trigger: TurnEnd, target: AllEnemyUnits, effect: UseAbility("Plague", 0), period: 4),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(0.12)),
            shape_type: Line(thickness: Float(1.0)),
            fill: Solid(color: State(Color)),
            alpha: Sin(Context(T)),
        ),
        mapping: {
            Offset: Vec2EE(
                Mul(
                    RandomFloatUnit(Owner),
                    Mul(Sin(Mul(GameTime, Sum(Float(0.4), Mul(Index, Float(0.1))))), Float(0.73)),
                ),
                Mul(Cos(Context(T)), Float(0.4)),
            ),
            T: Sum(Mul(GameTime, Float(2.0)), Index),
        },
        count: 16,
    ),
)