#![enable(implicit_some)]
(
    name: "Famine",
    hp: 3,
    pwr: 1,
    rarity: 3,
    houses: ["Death Knights"],
    trigger: Fire(
        triggers: [(Period(0, 4, TurnEnd), "every 5 turns")],
        targets: [(AllEnemyUnits, None)],
        effects: [(UseAbility("Plague", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.12)),
            shape_type: Line(thickness: F(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Sin(Context(T)),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(
                Mul(RandomF(Owner), Mul(Sin(Mul(GT, Sum(F(0.4), Mul(Index, F(0.1))))), F(0.73))),
                Mul(Cos(Context(T)), F(0.4)),
            ),
            T: Sum(Mul(GT, F(2.0)), Index),
        },
        count: 16,
    ),
)