#![enable(implicit_some)]
(
    name: "Fertilizer",
    hp: 3,
    pwr: 1,
    stacks: 1,
    rarity: 3,
    houses: "Druids",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AllAllyUnits, None)],
        effects: [(UseAbility("Thorns", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2E(Float(1.0))),
            shape_type: Line(thickness: Float(2.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {Rotation: Sum(Float(0.0), Sin(Sum(Index, GameTime)))},
        count: 4,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)