#![enable(implicit_some)]
(
    name: "Fighter",
    hp: 3,
    pwr: 1,
    stacks: 1,
    rarity: 0,
    houses: "Warriors",
    trigger: Fire(
        triggers: [(BeforeStrike, None)],
        targets: [(Owner, None)],
        effects: [(UseAbility("Strength", 3), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2E(Float(1.13))),
            shape_type: Line(thickness: Float(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {Offset: Mul(Mul(Mul(Index, Float(0.04)), Sin(GameTime)), UnitVec(Mul(Index, Float(1.0))))},
        count: 7,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)