#![enable(implicit_some)]
(
    name: "Folla",
    hp: 1,
    pwr: 0,
    rarity: 1,
    houses: ["Dragons"],
    trigger: Fire(
        triggers: [(AfterStrike, None)],
        targets: [(Owner, None)],
        effects: [(UseAbility("Grow", 1), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.5)),
            shape_type: Line(thickness: F(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(0.3),
            padding: F(0.1),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(Sum(GT, Mul(OwnerState(Index), Sum(F(1.04), Mul(Sin(GT), F(0.24)))))),
                F(0.19),
            ),
        },
        count: 6,
    ),
)