(
    name: "Fruiter",
    hp: 1,
    atk: 1,
    stacks: 1,
    level: 1,
    houses: "Druids",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [],
        effects: [
            (AbilityStateAddVar("Treant", Atk, Context(Level)), None),
            (AbilityStateAddVar("Treant", Hp, Context(Level)), None),
        ],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(0.36)),
            shape_type: Opaque,
            fill: GradientRadial(
                center: Vec2(0.0, 0.1),
                radius: Float(0.45),
                parts: [Float(0.0), Float(1.2)],
                colors: [OwnerState(Color), Hex("000000ff")],
            ),
            alpha: Float(1.0),
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(
                Mul(Sub(Mul(Index, Int(2)), Int(1)), Float(0.16)),
                Mul(Sin(Sum(GameTime, Index)), Float(0.15)),
            ),
        },
        count: 2,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)