#![enable(implicit_some)]
(
    name: "Fungoid",
    hp: 3,
    pwr: 2,
    stacks: 1,
    rarity: 2,
    houses: "Druids",
    trigger: Fire(
        triggers: [(AllyDeath, None)],
        targets: [],
        effects: [
            (
                List(
                    [
                        If(
                            LessThen(ToInt(OwnerStateLast(Charges)), Int(3)),
                            List(
                                [
                                    StateAddVar(Charges, Owner, Int(1)),
                                    UseAbility("Summon Treant", 0),
                                ],
                            ),
                            Noop,
                        ),
                    ],
                ),
                "[Summon Treant] (max 3)",
            ),
        ],
    ),
    representation: (
        material: Shape(
            shape: Circle(
                radius: Sum(Mul(Index, Float(-0.18)), Sum(Float(0.6), Mul(Sub(Zero, Beat), Float(0.05)))),
            ),
            shape_type: Line(thickness: Float(1.4)),
            fill: GradientLinear(
                point1: UnitVec(Mul(GameTime, Float(0.3))),
                point2: UnitVec(Sum(Mul(GameTime, Float(0.3)), PI)),
                parts: [Float(0.5), Float(0.51)],
                colors: [OwnerState(Color), Hex("101010ff")],
            ),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {Rotation: Mul(Index, Float(0.2)), Offset: Mul(UnitVec(Sum(GameTime, Index)), Float(0.07))},
        count: 4,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)