#![enable(implicit_some)]
(
    name: "Gaffer",
    hp: 2,
    pwr: 1,
    stacks: 1,
    rarity: 0,
    houses: "Mages",
    trigger: Fire(
        triggers: [(EnemySummon, None)],
        targets: [(Target, None)],
        effects: [(UseAbility("Magic Missile", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Mul(Index, Float(0.13))),
            shape_type: Line(thickness: Float(1.0)),
            fill: GradientLinear(
                point1: Vec2(0.0, 0.0),
                point2: Vec2(1.0, 1.0),
                parts: [Float(0.0), Float(0.01)],
                colors: [OwnerState(Color), Hex("00000000")],
            ),
            fbm: None,
            alpha: Float(0.5),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {Rotation: Sum(Mul(Index, Float(1.98)), Mul(GameTime, Sub(Mul(Index, Float(0.1)), Int(1))))},
        count: 8,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)