(
    name: "Guardian",
    hp: 2,
    atk: 1,
    stacks: 1,
    level: 1,
    houses: "Paladins",
    description: "%trigger → %effect on %target",
    trigger: Fire(
        triggers: [(Period(0, 1, TurnEnd), Some("Every 2 Turns"))],
        targets: [(FindUnit(Equals(StatusCharges(String("Shield")), Zero)), Some("ally with no [Shield]"))],
        effects: [(UseAbility("Shield", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(0.8)),
            shape_type: Line(thickness: Float(0.6)),
            fill: Solid(color: OwnerState(Color)),
            alpha: Float(1.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(Mul(Sum(Index, Int(1)), Mul(PI, Float(0.1)))),
                Mul(Float(0.3), Sin(Sum(GameTime, Mul(Beat, Float(0.5))))),
            ),
        },
        count: 9,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)