#![enable(implicit_some)]
(
    name: "Harvest",
    hp: 4,
    pwr: 1,
    stacks: 1,
    rarity: 1,
    houses: "Druids",
    trigger: Fire(
        triggers: [(OnceAfter(4, TurnEnd), "in 5 turns")],
        targets: [],
        effects: [(UseAbility("Summon Treant", 2), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(0.12)),
            shape_type: Line(thickness: Float(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Sin(Context(T)),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(
                Mul(
                    RandomFloatUnit(Owner),
                    Mul(Sin(Mul(GameTime, Sum(Float(0.4), Mul(Index, Float(0.1))))), Float(0.73)),
                ),
                Mul(Sin(Context(T)), Float(1.0)),
            ),
            T: Sum(Mul(GameTime, Float(2.0)), Index),
        },
        count: 16,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)