#![enable(implicit_some)]
(
    name: "Henchman",
    hp: 4,
    atk: 1,
    stacks: 1,
    level: 1,
    houses: "Warlocks",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(Owner, None)],
        effects: [(UseAbility("Doom", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(
                radius: Sum(
                    Float(0.5),
                    Mul(Sin(GameTime), Sum(Float(0.1), Mul(Sub(Zero, Beat), Float(0.2)))),
                ),
            ),
            shape_type: Line(thickness: Float(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {Offset: Mul(UnitVec(Mul(GameTime, Float(100.0))), Float(0.05))},
        count: 0,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)