#![enable(implicit_some)]
(
    hp: 1,
    atk: 1,
    house: "Demons",
    trigger: BattleStart(
        List(
            [
                WithVar(
                    Faction,
                    OppositeFaction,
                    WithTarget(
                        RandomUnit,
                        UseAbility(
                            "Devour",
                        ),
                    ),
                ),
                WithTarget(
                    RandomAdjacentUnit,
                    UseAbility("Devour"),
                ),
                WithTarget(
                    RandomAdjacentUnit,
                    UseAbility("Devour"),
                ),
            ],
        ),
    ),
    name: "Hound",
    description: "Battle Start: [Devour] adjacent ally twice and random enemy once",
    representation: (
        material: Shape(
            shape: Circle,
            fill: Line,
            size: Vec2E(
                Sub(
                    Float(0.9),
                    Mul(
                        IntFloat(
                            State(Index),
                        ),
                        Mul(
                            Abs(
                                Sin(
                                    Mul(
                                        Float(
                                            0.78,
                                        ),
                                        Sum(
                                            GameTime,
                                            Mul(
                                                RandomFloat,
                                                Float(
                                                    5.91,
                                                ),
                                            ),
                                        ),
                                    ),
                                ),
                            ),
                            Float(0.05),
                        ),
                    ),
                ),
            ),
            thickness: Float(5.5),
            alpha: Float(0.3),
            color: State(Color),
        ),
        children: [],
        mapping: {},
        count: 8,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)