#![enable(implicit_some)]
(
    name: "Inciter",
    hp: 2,
    pwr: 2,
    stacks: 1,
    rarity: 2,
    houses: "Meta",
    trigger: Fire(
        triggers: [(AllyDeath, None)],
        targets: [(TargetStateLast(LastAttacker), "last attacker")],
        effects: [(UseAbility("Betray", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(
                radius: Max(
                    Mul(Abs(Beat), Float(0.5)),
                    Mul(Abs(Cos(Mul(GameTime, Float(0.3)))), Float(0.2)),
                ),
            ),
            shape_type: Line(thickness: Float(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Float(0.3),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(
                    Sum(
                        Mul(Index, Mul(PI, Float(0.2))),
                        Mul(Sin(Mul(GameTime, Float(0.3))), Float(5.0)),
                    ),
                ),
                Float(0.2),
            ),
        },
        count: 10,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)