#![enable(implicit_some)]
(
    name: "Keeper",
    hp: 3,
    pwr: 1,
    rarity: 0,
    houses: ["Paladins"],
    trigger: Fire(
        triggers: [(Period(1, 1, BeforeStrike), None)],
        targets: [(Owner, None)],
        effects: [(UseAbility("Shield", 1), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(
                radius: Sum(F(0.13), Sub(Zero, Mul(Sum(Index, I(1)), Mul(Sin(Sum(GT, Index)), F(-0.05))))),
            ),
            shape_type: Line(thickness: F(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(
                Mul(Sin(Sum(GT, Index)), F(0.3)),
                Sum(Sum(F(0.8), Mul(Index, F(-0.2))), Mul(Sub(Zero, Beat), F(-0.1))),
            ),
        },
        count: 7,
    ),
)