#![enable(implicit_some)]
(
    name: "King",
    hp: 3,
    atk: 1,
    stacks: 1,
    level: 1,
    houses: "Paladins",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AllStatusAllies("Shield"), None), (AllStatusEnemies("Shield"), None)],
        effects: [(WithVar(Charges, Context(Level), StealStatus("Shield")), "steal [Shield] ({Level})")],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2(0.2, 0.86)),
            shape_type: Line(thickness: Float(1.0)),
            fill: GradientLinear(
                point1: Vec2(0.0, -0.74),
                point2: Vec2(0.0, 0.0),
                parts: [Float(0.0), Float(1.0)],
                colors: [Hex("ffffffff"), OwnerState(Color)],
            ),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.1),
        ),
        children: [],
        mapping: {
            Rotation: Mul(Sub(Index, Int(1)), Mul(PI, Float(0.25))),
            Offset: Mul(
                UnitVec(Sum(OwnerState(Rotation), Mul(PI, Float(0.5)))),
                Mul(Float(0.7), Sum(Float(1.0), Mul(Beat, Float(0.1)))),
            ),
        },
        count: 3,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)