#![enable(implicit_some)]
(
    name: "Leech",
    hp: 4,
    pwr: 1,
    stacks: 1,
    rarity: 1,
    houses: "Vampires",
    trigger: Fire(
        triggers: [(AfterDamageDealt, None)],
        targets: [(Target, None)],
        effects: [(UseAbility("Siphon", 2), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Sum(Sum(Float(0.7), Mul(Index, Float(0.08))), Mul(Beat, Float(0.05)))),
            shape_type: Line(thickness: Float(1.0)),
            fill: GradientLinear(
                point1: Vec2(0.0, -0.5),
                point2: Vec2(0.0, 0.5),
                parts: [Float(0.0), Sum(Float(1.24), Mul(Index, Float(0.0)))],
                colors: [OwnerState(Color), Hex("00000000")],
            ),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(Sum(Mul(Index, Float(-0.04)), Mul(Abs(Beat), Mul(Float(0.1), Index))), Zero),
            Rotation: Float(1.57),
        },
        count: 2,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)