#![enable(implicit_some)]
(
    name: "Lightning",
    hp: 1,
    pwr: 1,
    stacks: 1,
    level: 1,
    houses: "Robots",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AllUnits, None)],
        effects: [(UseAbility("Charge", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Sum(Vec2E(Mul(Beat, Float(0.1))), Vec2(0.13, 1.69))),
            shape_type: Line(thickness: Float(0.2)),
            fill: GradientLinear(
                point1: Vec2(0.0, 0.0),
                point2: Vec2(0.0, 0.5),
                parts: [Float(0.0), Float(1.5)],
                colors: [OwnerState(Color), Hex("#ffffff")],
            ),
            fbm: (
                octaves: Int(1),
                lacunarity: Float(1.0),
                gain: Float(1.0),
                strength: Sum(Float(0.13), Mul(Index, Float(0.03))),
                offset: Vec2EE(Mul(GameTime, Float(5.0)), Index),
            ),
            alpha: Float(1.0),
            padding: Float(0.5),
        ),
        children: [],
        mapping: {},
        count: 4,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)