(
    name: "Lilith",
    hp: 2,
    atk: 4,
    stacks: 1,
    level: 1,
    houses: "Vampires",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AllOtherUnits, None)],
        effects: [(UseAbility("Siphon", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Sum(Mul(Index, Float(-0.07)), Sum(Float(0.9), Mul(Beat, Float(0.05))))),
            shape_type: Line(thickness: Float(1.0)),
            fill: GradientLinear(
                point1: Vec2(0.0, -0.5),
                point2: Vec2(0.0, 0.5),
                parts: [Float(-0.25), Sum(Float(1.05), Mul(Index, Float(-0.03)))],
                colors: [OwnerState(Color), Hex("00000000")],
            ),
            alpha: Float(1.0),
        ),
        mapping: {Rotation: Sum(Mul(Index, Float(0.66)), GameTime)},
        count: 12,
    ),
)