#![enable(implicit_some)]
(
    name: "Mentalist",
    hp: 1,
    pwr: 2,
    stacks: 1,
    rarity: 3,
    houses: "Meta",
    trigger: Fire(
        triggers: [(BeforeDeath, None)],
        targets: [(AllUnits, None)],
        effects: [(UseAbility("Amnesia", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(0.25)),
            shape_type: Opaque,
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: If(Equals(OwnerState(Index), Zero), Float(1.0), Float(0.1)),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(Vec2EE(Cos(OwnerState(T)), Sin(OwnerState(T))), Float(0.5)),
            T: Sum(
                Sin(Sum(GameTime, Mul(IntFloat(OwnerState(Index)), Float(-0.15)))),
                Mul(PI, Float(1.5)),
            ),
        },
        count: 8,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)