#![enable(implicit_some)]
(
    name: "Mentalist",
    hp: 1,
    pwr: 2,
    rarity: 3,
    houses: ["Meta"],
    trigger: Fire(
        triggers: [(BeforeDeath, None)],
        targets: [(AllUnits, None)],
        effects: [(UseAbility("Amnesia", 3), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.25)),
            shape_type: Opaque,
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: If(Equals(OwnerState(Index), Zero), F(1.0), F(0.1)),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(Vec2EE(Cos(OwnerState(T)), Sin(OwnerState(T))), F(0.5)),
            T: Sum(Sin(Sum(GT, Mul(OwnerState(Index), F(-0.15)))), Mul(PI, F(1.5))),
        },
        count: 8,
    ),
)