#![enable(implicit_some)]
(
    name: "Mentalist",
    hp: 1,
    atk: 2,
    houses: "Meta",
    trigger: Fire(trigger: BattleStart, target: AllUnits, effect: UseAbility("Amnesia")),
    representation: (
        material: Shape(
            shape: Circle,
            fill: Opaque,
            size: Vec2E(Float(0.25)),
            thickness: Float(1.3),
            alpha: If(
                Equals(
                    State(Index),
                    Zero,
                ),
                Float(0.6),
                Float(0.1),
            ),
            color: State(Color),
        ),
        children: [],
        mapping: {
            Position: Mul(
                Vec2EE(
                    Cos(State(T)),
                    Sin(State(T)),
                ),
                Float(0.5),
            ),
            T: Sum(
                Sin(
                    Sum(
                        GameTime,
                        Mul(
                            IntFloat(
                                State(
                                    Index,
                                ),
                            ),
                            Float(-0.15),
                        ),
                    ),
                ),
                Mul(PI, Float(1.5)),
            ),
        },
        count: 8,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)