#![enable(implicit_some)]
(
    name: "Mesmerist",
    hp: 1,
    pwr: 3,
    stacks: 1,
    rarity: 0,
    houses: "Meta",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(RandomEnemy, None)],
        effects: [(UseAbility("Betray", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Mul(Index, Mul(Float(0.1), Abs(Sin(Sum(GameTime, Index)))))),
            shape_type: Line(thickness: Float(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {},
        count: 10,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)