(
    name: "Mesmerist",
    hp: 1,
    atk: 3,
    stacks: 1,
    level: 1,
    houses: "Meta",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(RandomEnemy, None)],
        effects: [(UseAbility("Betray", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Mul(Index, Mul(Float(0.1), Abs(Sin(Sum(GameTime, Index)))))),
            shape_type: Line(thickness: Float(1.0)),
            alpha: Float(1.0),
        ),
        children: [],
        mapping: {},
        count: 10,
    ),
)