(
    name: "Morbid",
    hp: 2,
    atk: 1,
    stacks: 1,
    level: 1,
    houses: "Death Knights",
    description: "%trigger → %effect on killer",
    trigger: Fire(
        trigger: AllyDeath,
        target: TargetStateLast(LastAttacker),
        effect: UseAbility("Decay", 2),
        period: 0,
    ),
    representation: (
        material: Shape(
            shape: Rectangle,
            fill: Line,
            fill_color: Solid,
            size: Vec2E(Float(0.35)),
            point1: Vec2(1.0, 1.0),
            point2: Vec2(1.0, 1.0),
            thickness: Float(0.5),
            alpha: Sin(Sum(Mul(GameTime, Float(1.0)), Mul(Index, Float(1000.0)))),
            colors: [State(Color)],
            parts: [Float(0.0)],
        ),
        children: [],
        mapping: {Offset: Mul(UnitVec(Mul(RandomFloat(Owner), PI)), Float(0.67))},
        count: 12,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)