#![enable(implicit_some)]
(
    name: "Morbid",
    hp: 2,
    pwr: 1,
    rarity: 2,
    houses: ["Death Knights"],
    trigger: Fire(
        triggers: [(AllyDeath, None)],
        targets: [(TargetStateLast(LastAttacker), "last attacker")],
        effects: [(UseAbility("Decay", 2), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2E(F(0.35))),
            shape_type: Line(thickness: F(0.5)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Sin(Sum(Mul(GT, F(1.0)), Mul(Index, F(1000.0)))),
            padding: F(0.0),
        ),
        children: [],
        mapping: {Offset: Mul(UnitVec(Mul(RandomF(Owner), PI)), F(0.67))},
        count: 12,
    ),
)