#![enable(implicit_some)]
(
    name: "Passer",
    pwr: 0,
    hp: 3,
    houses: ["Mages"],
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.7)),
            shape_type: Line(thickness: F(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: Some(
                (
                    octaves: I(2),
                    lacunarity: F(4.0),
                    gain: F(0.0),
                    strength: Cos(Sum(GT, Index)),
                    offset: Vec2E(Index),
                ),
            ),
            alpha: F(1.0),
            padding: F(0.0),
        ),
        mapping: {
            Offset: Mul(
                UnitVec(Sum(GT, Mul(OwnerState(Index), Sum(F(1.04), Mul(Sin(GT), F(0.24)))))),
                F(0.19),
            ),
        },
        count: 6,
    ),
    trigger: Fire(
        triggers: [(StatusReceived(None, Some(-1)), None)],
        targets: [(Caster, None)],
        effects: [(UseAbility("Magic_Missile", 2), None)],
    ),
)