#![enable(implicit_some)]
(
    name: "Plague Doctor",
    hp: 5,
    pwr: 1,
    stacks: 1,
    rarity: 0,
    houses: "Death Knights",
    trigger: Fire(
        triggers: [(Period(0, 1, TurnEnd), "every 2 turns")],
        targets: [(FindUnit(StatusCharges(String("Plague"))), "ally")],
        effects: [(List([ClearStatus("Plague"), Vfx("ron/vfx/apply_status.vfx.ron")]), "clear [Plague]")],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(0.43)),
            shape_type: Opaque,
            fill: GradientRadial(
                center: Vec2(0.0, 0.0),
                radius: Float(0.65),
                parts: [Float(0.55), Float(-0.09)],
                colors: [Hex("00000000"), OwnerState(Color)],
            ),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(Sum(Cos(Sum(GameTime, Index)), Index)),
                Mul(Sin(Sum(GameTime, Mul(Index, Int(10)))), Float(0.5)),
            ),
        },
        count: 12,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)