#![enable(implicit_some)]
(
    name: "Plague_Doctor",
    hp: 5,
    pwr: 1,
    rarity: 0,
    houses: ["Death Knights"],
    trigger: Fire(
        triggers: [(TurnEnd, None)],
        targets: [(RandomUnit(FilterStatusUnits("Plague", AllAllyUnits)), "random ally with [Plague]")],
        effects: [(List([ClearStatus("Plague"), Vfx("apply_status")]), "clear [Plague]")],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.43)),
            shape_type: Opaque,
            fill: GradientRadial(
                center: V2(0.0, 0.0),
                radius: F(0.65),
                parts: [F(0.55), F(-0.09)],
                colors: [HexColor("#00000000"), OwnerState(Color)],
            ),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(Sum(Cos(Sum(GT, Index)), Index)),
                Mul(Sin(Sum(GT, Mul(Index, I(10)))), F(0.5)),
            ),
        },
        count: 12,
    ),
)