#![enable(implicit_some)]
(
    name: "Planter",
    hp: 2,
    pwr: 2,
    rarity: 0,
    houses: ["Druids"],
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [],
        effects: [(UseAbility("Summon Treant", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Sum(Mul(Index, F(-0.89)), Sum(F(0.79), Mul(Sub(Zero, Beat), F(0.1))))),
            shape_type: Line(thickness: F(1.4)),
            fill: GradientLinear(
                point1: UnitVec(Mul(GT, F(0.3))),
                point2: UnitVec(Sum(Mul(GT, F(0.3)), PI)),
                parts: [F(0.5), F(0.51)],
                colors: [OwnerState(Color), HexColor("101010ff")],
            ),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.0),
        ),
        children: [],
        mapping: {Rotation: Mul(Index, F(0.18))},
        count: 2,
    ),
)