(
    name: "Pleader",
    hp: 4,
    atk: 2,
    stacks: 1,
    level: 1,
    houses: "Holy",
    description: "%trigger → %effect on %target",
    trigger: Fire(
        triggers: [(AfterStrike, None)],
        targets: [(Owner, None)],
        effects: [(UseAbility("Blessing", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2(0.15, 1.66)),
            shape_type: Line(thickness: Float(2.0)),
            fill: Solid(color: OwnerState(Color)),
            alpha: Float(0.7),
        ),
        children: [],
        mapping: {
            Rotation: Sum(Mul(ToInt(Even(Index)), Float(1.93)), Mul(Sin(Sum(GameTime, Index)), Float(0.18))),
            Offset: Vec2EE(
                Mul(Sin(Sum(Mul(Index, Float(0.17)), GameTime)), Float(0.12)),
                Mul(Cos(Sum(Mul(Index, Float(0.11)), GameTime)), Float(0.07)),
            ),
        },
        count: 8,
    ),
)