#![enable(implicit_some)]
(
    name: "Priest",
    hp: 1,
    pwr: 2,
    stacks: 1,
    rarity: 3,
    houses: "Holy",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AllAllyUnits, None)],
        effects: [(UseAbility("Blessing", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Sum(Float(0.5), Mul(Beat, Float(0.1)))),
            shape_type: Line(thickness: Sum(Float(2.5), Cos(GameTime))),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(
                    Mul(
                        Sum(GameTime, Mul(Mul(PI, Float(0.5)), IntFloat(OwnerState(Index)))),
                        Float(3.0),
                    ),
                ),
                Float(0.3),
            ),
        },
        count: 4,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)