#![enable(implicit_some)]
(
    name: "Protector",
    hp: 2,
    pwr: 2,
    rarity: 0,
    houses: ["Paladins"],
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(SlotUnit(I(0)), "front ally")],
        effects: [(UseAbility("Shield", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.67)),
            shape_type: Line(thickness: F(0.37)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(0.36),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(Sum(OwnerState(Index), Sum(GT, Sin(Mul(RandomF(Owner), GT))))),
                Mul(Sin(Mul(GT, F(0.3))), F(0.19)),
            ),
        },
        count: 16,
    ),
)