(
    name: "Protector",
    hp: 2,
    atk: 2,
    stacks: 1,
    level: 1,
    houses: "Paladins",
    description: "%trigger → %effect on %target",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(SlotUnit(Int(1)), Some("front ally"))],
        effects: [(UseAbility("Shield", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(0.67)),
            shape_type: Line(thickness: Float(0.37)),
            fill: Solid(color: OwnerState(Color)),
            alpha: Float(0.36),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(
                    Sum(
                        IntFloat(OwnerState(Index)),
                        Sum(GameTime, Sin(Mul(RandomFloat(Owner), GameTime))),
                    ),
                ),
                Mul(Sin(Mul(GameTime, Float(0.3))), Float(0.19)),
            ),
        },
        count: 16,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)