#![enable(implicit_some)]
(
    name: "Rat",
    hp: 1,
    pwr: 1,
    rarity: 1,
    houses: ["Death Knights"],
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(RandomUnitSubset(I(2), AllEnemyUnits), Some("[vb [b 2]] random enemies"))],
        effects: [(UseAbility("Plague", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Max(Sin(Sum(Sum(GT, Mul(PI, F(4.5))), Sum(Index, I(3)))), F(0.1))),
            shape_type: Line(thickness: F(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Context(T),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            T: Sin(Sum(GT, Index)),
            Offset: Mul(
                UnitVec(Mul(RandomF(Sum(Abs(Index), Floor(Div(Sub(GT, I(-2)), PI2)))), PI2)),
                F(0.45),
            ),
        },
        count: 4,
    ),
)