#![enable(implicit_some)]
(
    name: "Rat",
    hp: 1,
    pwr: 1,
    stacks: 1,
    rarity: 1,
    houses: "Death Knights",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(RandomEnemySubset(Int(2)), None)],
        effects: [(UseAbility("Plague", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(
                radius: Max(Sin(Sum(Sum(GameTime, Mul(PI, Float(4.5))), Sum(Index, Int(3)))), Float(0.1)),
            ),
            shape_type: Line(thickness: Float(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Context(T),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {
            T: Sin(Sum(GameTime, Index)),
            Offset: Mul(
                UnitVec(
                    Mul(RandomFloat(Sum(Abs(Index), Floor(Div(Sub(GameTime, Int(-2)), PI2)))), PI2),
                ),
                Float(0.45),
            ),
        },
        count: 4,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)