#![enable(implicit_some)]
(
    name: "Ritualist",
    hp: 2,
    pwr: 2,
    rarity: 0,
    houses: ["Warlocks"],
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(SlotUnit(I(0)), "front ally")],
        effects: [(UseAbility("Doom", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.5)),
            shape_type: Line(thickness: F(2.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(
                    Sum(
                        Mul(Index, Mul(PI, F(0.5))),
                        Sum(Mul(GT, F(0.5)), Mul(Sin(Sum(GT, Mul(Index, F(1.0)))), F(0.25))),
                    ),
                ),
                F(0.3),
            ),
        },
        count: 4,
    ),
)