#![enable(implicit_some)]
(
    name: "Ritualist",
    hp: 2,
    pwr: 2,
    stacks: 1,
    rarity: 0,
    houses: "Warlocks",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(SlotUnit(Int(1)), "front ally")],
        effects: [(UseAbility("Doom", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(0.5)),
            shape_type: Line(thickness: Float(2.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(
                    Sum(
                        Mul(Index, Mul(PI, Float(0.5))),
                        Sum(
                            Mul(GameTime, Float(0.5)),
                            Mul(Sin(Sum(GameTime, Mul(Index, Float(1.0)))), Float(0.25)),
                        ),
                    ),
                ),
                Float(0.3),
            ),
        },
        count: 4,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)