#![enable(implicit_some)]
(
    name: "Rod",
    hp: 2,
    pwr: 2,
    stacks: 1,
    level: 1,
    houses: "Robots",
    trigger: Fire(
        triggers: [(AllyUsedAbility("Charge"), None)],
        targets: [(RandomEnemy, None)],
        effects: [(Damage(None), "Damage {Pwr}")],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2EE(Sum(Float(0.1), Mul(Index, Float(0.12))), Float(1.8))),
            shape_type: Opaque,
            fill: GradientLinear(
                point1: Vec2(0.0, -0.56),
                point2: Vec2(0.0, 1.2),
                parts: [Float(0.0), Sum(Mul(Index, Float(0.73)), Float(0.39))],
                colors: [OwnerState(Color), Hex("#ffffff")],
            ),
            fbm: (
                octaves: Int(1),
                lacunarity: Float(1.0),
                gain: Float(1.0),
                strength: Mul(Beat, Float(0.1)),
                offset: Index,
            ),
            alpha: Float(0.3),
            padding: Float(0.3),
        ),
        children: [],
        mapping: {},
        count: 4,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)