#![enable(implicit_some)]
(
    name: "Rot",
    hp: 5,
    pwr: 0,
    rarity: 0,
    houses: ["Death Knights"],
    trigger: Fire(
        triggers: [(AfterStrike, None)],
        targets: [(RandomUnit(AllEnemyUnits), None)],
        effects: [(UseAbility("Decay", 1), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2E(F(0.19))),
            shape_type: Line(thickness: F(2.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Sin(Sum(GT, Mul(RandomF(Index), PI2))),
            padding: F(0.0),
        ),
        children: [],
        mapping: {Offset: Mul(UnitVec(Mul(RandomF(Index), PI2)), F(0.88))},
        count: 12,
    ),
)