#![enable(implicit_some)]
(
    name: "Rot",
    hp: 5,
    atk: 0,
    stacks: 1,
    level: 1,
    houses: "Death Knights",
    trigger: Fire(
        triggers: [(AfterStrike, None)],
        targets: [(RandomEnemy, None)],
        effects: [(UseAbility("Decay", 1), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2E(Float(0.19))),
            shape_type: Line(thickness: Float(2.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Sin(Sum(GameTime, Mul(RandomFloat(Index), PI2))),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {Offset: Mul(UnitVec(Mul(RandomFloat(Index), PI2)), Float(0.88))},
        count: 12,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)