(
    name: "Rot",
    hp: 3,
    atk: 0,
    stacks: 1,
    level: 1,
    houses: "Death Knights",
    description: "%trigger → %effect on %target",
    trigger: Fire(trigger: TurnEnd, target: RandomEnemy, effect: UseAbility("Decay", 0)),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2E(Float(0.19))),
            shape_type: Line(thickness: Float(2.0)),
            fill: Solid(color: State(Color)),
            alpha: Sin(Sum(GameTime, Mul(RandomFloat(Index), PI2))),
        ),
        children: [],
        mapping: {Offset: Mul(UnitVec(Mul(RandomFloat(Index), PI2)), Float(0.88))},
        count: 12,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)