(
    name: "Ruin",
    hp: 2,
    atk: 2,
    stacks: 1,
    level: 1,
    houses: "Death Knights",
    description: "%trigger → %effect on %target",
    trigger: Fire(
        triggers: [(BeforeDeath, None)],
        targets: [(AllEnemyUnits, None)],
        effects: [(UseAbility("Decay", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2E(Float(0.94))),
            shape_type: Line(thickness: Float(0.5)),
            fill: Solid(color: OwnerState(Color)),
            alpha: Sin(Sum(Mul(GameTime, Float(0.5)), Mul(Index, Float(1000.0)))),
        ),
        children: [],
        mapping: {Offset: Mul(UnitVec(Mul(RandomFloat(Owner), Mul(PI, Float(2.0)))), Float(0.35))},
        count: 12,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)