#![enable(implicit_some)]
(
    name: "Ruin",
    hp: 2,
    pwr: 2,
    rarity: 2,
    houses: ["Death Knights"],
    trigger: Fire(
        triggers: [(BeforeDeath, None)],
        targets: [(AllEnemyUnits, None)],
        effects: [(UseAbility("Decay", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2E(F(0.94))),
            shape_type: Line(thickness: F(0.5)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Sin(Sum(Mul(GT, F(0.5)), Mul(Index, F(1000.0)))),
            padding: F(0.0),
        ),
        children: [],
        mapping: {Offset: Mul(UnitVec(Mul(RandomF(Owner), Mul(PI, F(2.0)))), F(0.35))},
        count: 12,
    ),
)