#![enable(implicit_some)]
(
    name: "Sexton",
    hp: 2,
    pwr: 1,
    rarity: 1,
    houses: ["Paladins"],
    trigger: Fire(
        triggers: [(Period(0, 2, AllyDeath), None)],
        targets: [],
        effects: [(UseAbility("Summon Guardian Angel", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.51)),
            shape_type: Opaque,
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(0.3),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(UnitVec(Sum(Mul(Index, Mul(PI, F(0.66))), Mul(GT, F(0.2)))), Mul(Sin(GT), F(0.3))),
        },
        count: 3,
    ),
)