#![enable(implicit_some)]
(
    hp: 2,
    atk: 1,
    house: "Medics",
    name: "Siphoner",
    description: "After Kill: give Vitality to all allies",
    trigger: AfterKill(
        (
            effect: AoeFaction(
                OwnerFaction,
                (
                    effect: UseAbility(
                        "Vitality",
                    ),
                ),
            ),
        ),
    ),
    representation: (
        material: Shape(
            shape: Circle,
            size: Vec2E(
                Sum(
                    Mul(
                        Sin(GameTime),
                        Float(0.1),
                    ),
                    Float(0.5),
                ),
            ),
        ),
        children: [
            (
                material: Shape(
                    shape: Circle,
                    size: Vec2E(
                        Sum(
                            Mul(
                                Sin(
                                    GameTime,
                                ),
                                Float(
                                    0.6,
                                ),
                            ),
                            Float(0.4),
                        ),
                    ),
                ),
            ),
        ],
    ),
)