#![enable(implicit_some)]
(
    name: "Spore",
    hp: 1,
    pwr: 1,
    rarity: 0,
    houses: ["Druids"],
    trigger: Fire(
        triggers: [(BeforeDeath, None)],
        targets: [],
        effects: [(UseAbility("Summon Treant", 1), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.36)),
            shape_type: Line(thickness: F(1.4)),
            fill: GradientLinear(
                point1: UnitVec(Mul(GT, F(0.3))),
                point2: UnitVec(Sum(Mul(GT, F(0.3)), PI)),
                parts: [F(0.5), F(0.51)],
                colors: [OwnerState(Color), HexColor("101010ff")],
            ),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            Rotation: Mul(Index, Mul(PI, F(0.5))),
            Offset: Mul(UnitVec(Sum(GT, Mul(Index, Div(PI, F(2.5))))), Mul(Sin(GT), F(0.2))),
        },
        count: 5,
    ),
)