#![enable(implicit_some)]
(
    name: "Spy",
    hp: 4,
    pwr: 2,
    rarity: 0,
    houses: ["Shifters"],
    trigger: Fire(
        triggers: [(BeforeStrike, None)],
        targets: [(RandomUnit(AllEnemyUnits), None)],
        effects: [(UseAbility("Full Copy", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.72)),
            shape_type: Line(thickness: F(2.0)),
            fill: GradientLinear(
                point1: V2(0.0, 0.0),
                point2: UnitVec(Sum(Mul(GT, F(0.2)), Mul(Index, Mul(PI, F(0.5))))),
                parts: [F(0.16), F(0.21)],
                colors: [OwnerState(Color), HexColor("00000000")],
            ),
            fbm: None,
            alpha: F(0.4),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(Mul(Sum(Index, Mul(GT, Mul(RandomF(Owner), F(2.0)))), Mul(PI, F(0.3)))),
                Sum(F(0.05), Mul(Sin(Sum(GT, Index)), F(0.05))),
            ),
        },
        count: 3,
    ),
)