#![enable(implicit_some)]
(
    name: "Spy",
    hp: 4,
    atk: 2,
    stacks: 1,
    level: 1,
    houses: "Shifters",
    trigger: Fire(
        triggers: [(BeforeStrike, None)],
        targets: [(RandomEnemy, None)],
        effects: [(UseAbility("Copy", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(0.72)),
            shape_type: Line(thickness: Float(2.0)),
            fill: GradientLinear(
                point1: Vec2(0.0, 0.0),
                point2: UnitVec(Sum(Mul(GameTime, Float(0.2)), Mul(Index, Mul(PI, Float(0.5))))),
                parts: [Float(0.16), Float(0.21)],
                colors: [OwnerState(Color), Hex("00000000")],
            ),
            fbm: None,
            alpha: Float(0.4),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(
                    Mul(
                        Sum(Index, Mul(GameTime, Mul(RandomFloatUnit(Owner), Float(2.0)))),
                        Mul(PI, Float(0.3)),
                    ),
                ),
                Sum(Float(0.05), Mul(Sin(Sum(GameTime, Index)), Float(0.05))),
            ),
        },
        count: 3,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)