#![enable(implicit_some)]
(
    name: "Syren",
    hp: 3,
    atk: 1,
    stacks: 1,
    level: 1,
    houses: "Witches",
    trigger: Fire(
        triggers: [(BeforeStrike, None)],
        targets: [(Target, None)],
        effects: [(UseAbility("Weakness", 1), None)],
    ),
    representation: (
        material: Curve(
            thickness: Float(0.3),
            dilations: [],
            curvature: Mul(
                Sub(Float(0.5), Mul(Index, Float(0.22))),
                Sin(Sum(GameTime, Mul(Index, Float(0.1)))),
            ),
            aa: Float(0.5),
            color: OwnerState(Color),
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(Mul(Beat, Float(0.05)), Float(-1.0)),
            Delta: Vec2EE(Float(2.0), Float(0.0)),
            Rotation: Mul(PI, Float(0.5)),
        },
        count: 9,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)