(
    representation: (
        material: Shape(
            shape: Circle,
            color: ("#9C27B0"),
            size: Vec2E(State(Radius)),
        ),
        children: [
            (
                material: Text(
                    text: State(Radius),
                    size: State(Radius),
                ),
            ),
        ],
    ),
    state: (
        {
            Radius: (
                [
                    (
                        t: 0.0,
                        value: Float(0.0001),
                    ),
                    (
                        t: 1.0,
                        duration: 2.0,
                        tween: QuartOut,
                        value: Float(1.5),
                    ),
                ],
            ),
        },
    ),
)