(
    hp: 2,
    atk: 1,
    name: "Test",
    representation: (
        material: Shape(
            shape: Circle,
            color: ("#4527A0"),
            size: Vec2E(State(Radius)),
        ),
    ),
    state: (
        {
            Radius: (
                [
                    (
                        t: 0.0,
                        value: Float(0.0001),
                    ),
                    (
                        t: 0.0,
                        duration: 0.5,
                        tween: QuartOut,
                        value: Float(0.7),
                    ),
                ],
            ),
        },
    ),
)