#![enable(implicit_some)]
(
    name: "Trickster",
    hp: 3,
    pwr: 1,
    stacks: 1,
    level: 1,
    houses: "Rogues",
    trigger: Fire(
        triggers: [(BeforeStrike, None)],
        targets: [(Target, None)],
        effects: [(UseAbility("Rob", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(1.0)),
            shape_type: Line(thickness: Float(2.4)),
            fill: Solid(color: OwnerState(Color)),
            fbm: (
                octaves: Int(3),
                lacunarity: Float(0.22),
                gain: Sum(Float(0.54), Mul(Beat, Float(0.1))),
                strength: Float(1.0),
                offset: Mul(Mul(GameTime, Float(-1.0)), Float(0.13)),
            ),
            alpha: Float(1.0),
            padding: Float(-0.0),
        ),
        children: [],
        mapping: {Rotation: Mul(Index, Float(0.13))},
        count: 3,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)