#![enable(implicit_some)]
(
    name: "Trimmer",
    hp: 2,
    atk: 1,
    stacks: 1,
    level: 1,
    houses: "Alchemists",
    description: "%trigger → %effect on enemy with most HP",
    trigger: Fire(trigger: BattleStart, target: FilterMaxEnemy(State(Hp)), effect: UseAbility("Petrify", 0)),
    representation: (
        material: None,
        children: [
            (
                material: Shape(
                    shape: Rectangle,
                    fill: Line,
                    size: Vec2(1.0, 1.0),
                    thickness: Float(1.0),
                    alpha: Float(1.0),
                ),
                children: [],
                mapping: {
                    Rotation: Sum(
                        Mul(Mul(PI, Float(0.25)), Index),
                        Mul(Sin(Sum(GameTime, Index)), Float(0.3)),
                    ),
                },
                count: 2,
            ),
        ],
        mapping: {},
        count: 0,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)