#![enable(implicit_some)]
(
    name: "Trimmer",
    hp: 3,
    pwr: 1,
    stacks: 1,
    level: 1,
    houses: "Alchemists",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(FilterMaxEnemy(OwnerState(Hp)), "enemy with max Hp")],
        effects: [(UseAbility("Petrify", 0), None)],
    ),
    representation: (
        material: None,
        children: [
            (
                material: Shape(
                    shape: Rectangle(size: Vec2(1.0, 1.0)),
                    shape_type: Line(thickness: Float(1.0)),
                    fill: Solid(color: OwnerState(Color)),
                    fbm: None,
                    alpha: Float(1.0),
                    padding: Float(0.0),
                ),
                children: [],
                mapping: {
                    Rotation: Sum(
                        Mul(Mul(PI, Float(0.25)), Index),
                        Mul(Sin(Sum(GameTime, Index)), Float(0.3)),
                    ),
                },
                count: 2,
            ),
        ],
        mapping: {},
        count: 0,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)