(
    name: "Victim",
    hp: 1,
    atk: 1,
    stacks: 1,
    level: 1,
    houses: "Paladins",
    description: "%trigger → %effect",
    trigger: Fire(
        trigger: BeforeDeath,
        target: Owner,
        effect: UseAbility("Summon Guardian Angel", 0),
        period: 0,
    ),
    representation: (
        material: Shape(
            shape: Circle,
            fill: Line,
            fill_color: Solid,
            size: Vec2E(Sum(Float(0.2), Sub(Zero, Mul(Index, Float(0.03))))),
            point1: Vec2(1.0, 1.0),
            point2: Vec2(1.0, 1.0),
            thickness: Float(1.0),
            alpha: Float(1.0),
            colors: [State(Color)],
            parts: [Float(0.0)],
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(
                Mul(Sin(Sum(GameTime, Index)), Float(0.1)),
                Sum(Sum(Float(0.77), Mul(Index, Float(-0.25))), Mul(Sub(Zero, Beat), Float(0.1))),
            ),
        },
        count: 7,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)