#![enable(implicit_some)]
(
    name: "Victim",
    hp: 1,
    atk: 1,
    stacks: 1,
    level: 1,
    houses: "Paladins",
    trigger: Fire(
        triggers: [(BeforeDeath, None)],
        targets: [(Owner, None)],
        effects: [(UseAbility("Summon Guardian Angel", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Sum(Float(0.2), Sub(Zero, Mul(Index, Float(0.03))))),
            shape_type: Line(thickness: Float(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(
                Mul(Sin(Sum(GameTime, Index)), Float(0.1)),
                Sum(Sum(Float(0.77), Mul(Index, Float(-0.25))), Mul(Sub(Zero, Beat), Float(0.1))),
            ),
        },
        count: 7,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)