#![enable(implicit_some)]
(
    name: "Virus",
    hp: 3,
    pwr: 0,
    rarity: 1,
    houses: ["Death Knights"],
    trigger: Fire(
        triggers: [(AfterDamageTaken, None)],
        targets: [(Caster, None)],
        effects: [(UseAbility("Plague", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.12)),
            shape_type: Line(thickness: F(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(1.0),
            padding: F(0.0),
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(
                Mul(Sub(RandomF(Index), F(0.5)), Sin(Sum(GT, Index))),
                Sub(RandomF(Owner), F(0.5)),
            ),
        },
        count: 16,
    ),
)