(
    name: "Virus",
    hp: 1,
    atk: 1,
    stacks: 1,
    level: 1,
    houses: "Death Knights",
    description: "%trigger → %effect on %target",
    trigger: Fire(trigger: BattleStart, target: EnemyUnits, effect: UseAbility("Plague"), period: 0),
    representation: (
        material: Shape(
            shape: Circle,
            fill: Line,
            fill_color: Solid,
            size: Vec2E(Float(0.12)),
            point1: Vec2(1.0, 1.0),
            point2: Vec2(1.0, 1.0),
            thickness: Float(1.0),
            alpha: Float(1.0),
            colors: [State(Color)],
            parts: [Float(0.0)],
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(
                Mul(Sub(RandomFloat(Index), Float(0.5)), Sin(Sum(GameTime, Index))),
                Sub(RandomFloat(Owner), Float(0.5)),
            ),
        },
        count: 16,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)