#![enable(implicit_some)]
(
    name: "Virus",
    hp: 1,
    pwr: 1,
    stacks: 1,
    level: 1,
    houses: "Death Knights",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [(AllEnemyUnits, None)],
        effects: [(UseAbility("Plague", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Float(0.12)),
            shape_type: Line(thickness: Float(1.0)),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.0),
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(
                Mul(Sub(RandomFloat(Index), Float(0.5)), Sin(Sum(GameTime, Index))),
                Sub(RandomFloat(Owner), Float(0.5)),
            ),
        },
        count: 16,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)