#![enable(implicit_some)]
(
    name: "Wire",
    hp: 2,
    pwr: 1,
    stacks: 1,
    level: 1,
    houses: "Robots",
    trigger: Fire(
        triggers: [(BattleStart, None)],
        targets: [
            (SlotUnit(Int(1)), "front ally"),
            (WithVar(Faction, OppositeFaction, SlotUnit(Int(1))), "front enemy"),
        ],
        effects: [(UseAbility("Charge", 4), None)],
    ),
    representation: (
        material: Shape(
            shape: Rectangle(size: Vec2(0.47, 0.1)),
            shape_type: Opaque,
            fill: Solid(color: OwnerState(Color)),
            fbm: (
                octaves: Int(1),
                lacunarity: Float(1.0),
                gain: Float(1.0),
                strength: Mul(Beat, Float(0.3)),
                offset: Sum(Index, GameTime),
            ),
            alpha: Float(1.0),
            padding: Float(0.2),
        ),
        children: [],
        mapping: {
            Offset: Vec2EE(Sum(Mul(Index, Float(0.26)), Float(-0.64)), Float(0.0)),
            Rotation: Mul(Mul(PI, If(Even(Index), Float(1.0), Float(-1.0))), Float(0.25)),
        },
        count: 6,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)