#![enable(implicit_some)]
(
    name: "Wizard",
    hp: 50,
    atk: 1,
    house: "Mages",
    description: "Turn Start: use Magic Missle",
    trigger: TurnStart(
        WithVar(
            Faction,
            OppositeFaction,
            WithTarget(
                RandomUnit,
                List(
                    [
                        Damage(Int(2)),
                        Vfx(
                            "magic_missle",
                        ),
                    ],
                ),
            ),
        ),
    ),
    representation: (
        material: Shape(
            shape: Circle,
            thickness: Sum(
                Float(2.5),
                Cos(GameTime),
            ),
            size: Vec2E(
                Sum(
                    Float(0.7),
                    Mul(
                        Beat,
                        Float(0.3),
                    ),
                ),
            ),
        ),
        children: [
            (
                material: Shape(
                    shape: Circle,
                    fill: Opaque,
                    size: Vec2E(Float(0.2)),
                ),
                mapping: {
                    Position: Mul(
                        Vec2EE(
                            Sin(
                                GameTime,
                            ),
                            Cos(
                                GameTime,
                            ),
                        ),
                        Mul(
                            Cos(
                                Mul(
                                    GameTime,
                                    Float(
                                        3.3,
                                    ),
                                ),
                            ),
                            Sum(
                                Float(
                                    0.5,
                                ),
                                Beat,
                            ),
                        ),
                    ),
                },
            ),
            (
                material: Shape(
                    shape: Circle,
                    fill: Opaque,
                    size: Vec2E(Float(0.2)),
                ),
                mapping: {
                    Position: Mul(
                        Vec2EE(
                            Sin(
                                Sum(
                                    GameTime,
                                    Float(
                                        3.0,
                                    ),
                                ),
                            ),
                            Cos(
                                GameTime,
                            ),
                        ),
                        Mul(
                            Cos(
                                Mul(
                                    GameTime,
                                    Float(
                                        2.3,
                                    ),
                                ),
                            ),
                            Sum(
                                Float(
                                    0.5,
                                ),
                                Beat,
                            ),
                        ),
                    ),
                },
            ),
            (
                material: Shape(
                    shape: Circle,
                    fill: Opaque,
                    size: Vec2E(Float(0.2)),
                ),
                mapping: {
                    Position: Mul(
                        Vec2EE(
                            Sin(
                                Sum(
                                    GameTime,
                                    Float(
                                        2.0,
                                    ),
                                ),
                            ),
                            Cos(
                                GameTime,
                            ),
                        ),
                        Mul(
                            Cos(
                                Mul(
                                    GameTime,
                                    Float(
                                        1.3,
                                    ),
                                ),
                            ),
                            Sum(
                                Float(
                                    0.5,
                                ),
                                Beat,
                            ),
                        ),
                    ),
                },
            ),
            (
                material: Shape(
                    shape: Circle,
                    fill: Opaque,
                    size: Vec2E(Float(0.2)),
                ),
                mapping: {
                    Position: Mul(
                        Vec2EE(
                            Sin(
                                Sum(
                                    GameTime,
                                    Float(
                                        5.0,
                                    ),
                                ),
                            ),
                            Cos(
                                Sum(
                                    GameTime,
                                    Float(
                                        -5.0,
                                    ),
                                ),
                            ),
                        ),
                        Mul(
                            Cos(
                                Mul(
                                    GameTime,
                                    Float(
                                        2.3,
                                    ),
                                ),
                            ),
                            Sum(
                                Float(
                                    0.5,
                                ),
                                Beat,
                            ),
                        ),
                    ),
                },
            ),
        ],
    ),
)