#![enable(implicit_some)]
(
    name: "Wizard",
    hp: 3,
    pwr: 1,
    stacks: 1,
    level: 1,
    houses: "Mages",
    trigger: Fire(
        triggers: [(TurnEnd, None)],
        targets: [(RandomEnemy, None)],
        effects: [(UseAbility("Magic Missile", 0), None)],
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Sum(Float(0.7), Mul(Beat, Float(0.3)))),
            shape_type: Line(thickness: Sum(Float(2.5), Cos(GameTime))),
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: Float(1.0),
            padding: Float(0.0),
        ),
        children: [
            (
                material: Shape(
                    shape: Circle(radius: Float(0.2)),
                    shape_type: Opaque,
                    fill: Solid(color: OwnerState(Color)),
                    fbm: None,
                    alpha: Float(1.0),
                    padding: Float(0.0),
                ),
                children: [],
                mapping: {
                    Offset: Mul(
                        Vec2EE(Sin(Sum(GameTime, IntFloat(OwnerState(Index)))), Cos(GameTime)),
                        Mul(
                            Cos(Mul(Sum(GameTime, IntFloat(OwnerState(Index))), Float(1.3))),
                            Sum(Float(0.5), Beat),
                        ),
                    ),
                },
                count: 5,
            ),
        ],
        mapping: {},
        count: 0,
    ),
    state: (history: {}, birth: 0.0),
    statuses: [],
)