(
    name: "Zombie Bat",
    hp: 1,
    atk: 3,
    stacks: 1,
    level: 1,
    houses: "Death Knights",
    description: "%trigger → use %effect on killer",
    trigger: Fire(
        trigger: AllyDeath,
        target: TargetStateLast(LastAttacker),
        effect: UseAbility("Plague", 0),
        period: 0,
    ),
    representation: (
        material: Shape(
            shape: Circle(radius: Sum(Sum(Float(0.81), Mul(Index, Float(-0.17))), Mul(Beat, Float(0.05)))),
            shape_type: Line(thickness: Float(2.27)),
            fill: GradientLinear(
                point1: Vec2(0.0, -0.5),
                point2: Vec2(0.0, 0.5),
                parts: [Float(0.0), Sum(Float(0.99), Mul(Index, Float(0.0)))],
                colors: [State(Color), Hex("00000000")],
            ),
            alpha: Float(1.0),
        ),
        mapping: {
            Offset: Vec2EE(
                Zero,
                Sum(Mul(Index, Float(-0.04)), Mul(Sub(Zero, Abs(Beat)), Mul(Float(0.1), Index))),
            ),
        },
        count: 3,
    ),
)