#![enable(implicit_some)]
(
    settings: (
        always_zero: 0,
        shop_slots_min: 3,
        shop_slots_max: 6,
        shop_slots_per_round: 0.34,
        shop_g_start: 4,
        shop_g_income_min: 3,
        shop_g_income_max: 6,
        shop_g_income_per_round: 1,
        shop_price_reroll: 1,
        shop_price_unit: 3,
        shop_price_sell: 1,
        team_slots: 5,
    ),
)