#![enable(implicit_some)]
(
    settings: (
        always_zero: 0,
        craft_shards_cost: 10,
        arena: (
            ranked_cost: 15,
            slots_min: 3,
            slots_max: 6,
            slots_per_round: 0.34,
            g_start: 5,
            g_income_min: 3,
            g_income_max: 6,
            g_income_per_round: 1,
            price_reroll: 1,
            sell_discount: 2,
            stack_discount: 1,
            team_slots: 5,
            lives_initial: 3,
            lives_per_wins: 4,
            free_rerolls_initial: 2,
            free_rerolls_income: 1,
        ),
        rarities: (prices: [4, 5, 6, 7], weights_initial: [100, 5, -10, -20], weights_per_round: [0, 5, 5, 5]),
        battle: (fatigue_start: 20, deafness_start: 100, deafness_per_turn: 0.01),
        meta: (price_lootbox: 100, price_shard: 10, shop_refresh_period_secs: 3600, shop_shard_slots: 4),
    ),
)