#![enable(implicit_some)]
(
    settings: (
        always_zero: 0,
        arena: (
            slots_min: 3,
            slots_max: 6,
            slots_per_round: 0.34,
            g_start: 4,
            g_income_min: 3,
            g_income_max: 6,
            g_income_per_round: 1,
            price_reroll: 1,
            price_unit: 3,
            price_sell: 1,
            team_slots: 5,
        ),
    ),
)