(
    {
        "global_settings": File(path: "ron/_.global_settings.ron"),
        "custom_battle": File(path: "ron/custom.battle.ron"),
        "heroes": Folder(path: "ron/heroes"),
        "houses": Folder(path: "ron/houses"),
        "test_scenarios": Folder(path: "ron/scenarios"),
        "unit.rep": File(path: "ron/unit.rep.ron"),
    },
)