(
    {
        "global_settings": File(path: "ron/_.global_settings.ron"),
        "custom_battle": File(path: "ron/custom.battle.ron"),
        "unit.rep": File(path: "ron/unit.rep.ron"),
        "ghost.unit": File(path: "ron/ghost.unit.ron"),
        "status.rep": File(path: "ron/status.rep.ron"),
        "animations": File(path: "ron/all.anim.ron"),
        "heroes": Folder(path: "ron/heroes"),
        "houses": Folder(path: "ron/houses"),
        "vfxs": Folder(path: "ron/vfxs"),
        "audio_bg": Folder(path: "audio/bg"),
        "audio_click": File(path: "audio/fx/click.ogg"),
        "audio_coin": File(path: "audio/fx/coin.ogg"),
        "audio_start_game": File(path: "audio/fx/field_open.ogg"),
        "audio_strike": File(path: "audio/fx/insert_main.ogg"),
        "audio_pain": File(path: "audio/fx/insert_wrong.ogg"),
        "audio_status_add": File(path: "audio/fx/insert_start.ogg"),
        "audio_status_remove": File(path: "audio/fx/undo.ogg"),
        "audio_victory": File(path: "audio/fx/field_complete.ogg"),
        "audio_defeat": File(path: "audio/fx/lose_game.ogg"),
        "audio_death": File(path: "audio/fx/debuff.ogg"),
        "test_scenarios": Folder(path: "ron/scenarios"),
    },
)