(
    {
        "global_settings": File(path: "ron/_.global_settings.ron"),
        "custom_battle": File(path: "ron/custom.battle.ron"),
        "unit.rep": File(path: "ron/unit.rep.ron"),
        "status.rep": File(path: "ron/status.rep.ron"),
        "animations": File(path: "ron/all.anim.ron"),
        "heroes": Folder(path: "ron/heroes"),
        "houses": Folder(path: "ron/houses"),
        "vfxs": Folder(path: "ron/vfxs"),
        "test_scenarios": Folder(path: "ron/scenarios"),
    },
)