#![enable(implicit_some)]
(
    [
        (
            name: "Strength",
            description: "+1 ATK",
            trigger: ChangeVar(Atk, Int(3)),
            representation: (
                material: Shape(
                    shape: Circle,
                    color: ("#8D6E63"),
                    size: Vec2E(Float(1.1)),
                ),
            ),
        ),
        (
            name: "Test",
            description: "This is a test status description",
            representation: (
                material: Shape(
                    shape: Circle,
                    color: ("#D500F9"),
                    size: Vec2(1.2, 1.2),
                ),
                mapping: (
                    {
                        Position: Sum(
                            Mul(
                                UnitVec(
                                    Sum(
                                        GameTime,
                                        Mul(
                                            Random,
                                            Float(
                                                100.0,
                                            ),
                                        ),
                                    ),
                                ),
                                Float(
                                    0.12,
                                ),
                            ),
                            State(
                                Position,
                            ),
                        ),
                    },
                ),
            ),
            trigger: AfterDamageTaken(
                (
                    effect: Debug(
                        Sum(
                            String(
                                "Damage taken ",
                            ),
                            Context(
                                Name,
                            ),
                        ),
                    ),
                ),
            ),
        ),
        (
            name: "Other test",
            description: "Does tests and something else",
            representation: (
                material: Shape(
                    shape: Circle,
                    color: ("#FBC02D"),
                    size: Vec2(1.2, 1.2),
                ),
                mapping: (
                    {
                        Position: Sum(
                            Mul(
                                UnitVec(
                                    Sum(
                                        GameTime,
                                        Mul(
                                            Random,
                                            Float(
                                                100.0,
                                            ),
                                        ),
                                    ),
                                ),
                                Float(
                                    0.12,
                                ),
                            ),
                            State(
                                Position,
                            ),
                        ),
                    },
                ),
            ),
            trigger: AfterDamageTaken(
                (
                    effect: Debug(
                        Sum(
                            String(
                                "Damage taken ",
                            ),
                            Context(
                                Name,
                            ),
                        ),
                    ),
                ),
            ),
        ),
    ],
)