#![enable(implicit_some)]
(
    [
        (
            name: "Test",
            description: "This is a test status description",
            representation: (
                material: Shape(
                    shape: Circle,
                    color: ("#D500F9"),
                    size: Vec2(1.2, 1.2),
                ),
            ),
            trigger: AfterDamageTaken(
                effect: Debug(
                    Sum(
                        String(
                            "Damage taken ",
                        ),
                        Context(Name),
                    ),
                ),
            ),
        ),
    ],
)