(
    before_strike: Change(
        var: Position,
        value: Vec2EE(Context(Direction), VY(SlotPosition)),
        duration: Value(Float(0.2)),
        timeframe: Value(Float(0.2)),
        tween: QuartOut,
    ),
    move_to_slot: Change(var: Position, value: SlotPosition, duration: F(0.2), timeframe: F(0.4), tween: QuartOut),
    strike: Sfx(sfx: Strike),
)