#![enable(implicit_some)]
(
    left: (
        units: [
            (
                hp: 1,
                atk: 1,
                house: "Warriors",
                name: "E",
                representation: (
                    material: Text(
                        text: String("E"),
                    ),
                ),
            ),
            (
                hp: 3,
                atk: 2,
                house: "Warriors",
                name: "Commander",
                description: "Battle Start: give Strength to adjacent allies",
                trigger: BattleStart(
                    (
                        effect: List(
                            [
                                (
                                    effect: UseAbility(
                                        "Strength",
                                    ),
                                    target: SlotUnit(
                                        Sum(
                                            Context(
                                                Slot,
                                            ),
                                            Int(
                                                1,
                                            ),
                                        ),
                                    ),
                                ),
                                (
                                    effect: UseAbility(
                                        "Strength",
                                    ),
                                    target: SlotUnit(
                                        Sub(
                                            Context(
                                                Slot,
                                            ),
                                            Int(
                                                1,
                                            ),
                                        ),
                                    ),
                                ),
                            ],
                        ),
                    ),
                ),
                representation: (
                    material: Shape(
                        shape: Rectangle,
                        color: ("#76FF03"),
                        size: Vec2E(
                            Sum(
                                Mul(
                                    Sin(
                                        GameTime,
                                    ),
                                    Float(
                                        0.3,
                                    ),
                                ),
                                Float(
                                    0.7,
                                ),
                            ),
                        ),
                    ),
                    mapping: (
                        {
                            Rotation: Mul(
                                Sin(
                                    Mul(
                                        GameTime,
                                        Float(
                                            0.1,
                                        ),
                                    ),
                                ),
                                Float(
                                    40.9,
                                ),
                            ),
                        },
                    ),
                ),
            ),
            (
                hp: 1,
                atk: 1,
                house: "Warriors",
                name: "E",
                representation: (
                    material: Text(
                        text: String("E"),
                    ),
                ),
            ),
            (
                hp: 1,
                atk: 1,
                house: "Warriors",
                name: "E",
                representation: (
                    material: Text(
                        text: String("E"),
                    ),
                ),
            ),
        ],
    ),
    right: (
        units: [
            (
                hp: 5,
                atk: 1,
                house: "Warriors",
                name: "Test 2",
                description: "This is a test\ndescription",
                trigger: BattleStart(
                    (
                        effect: Debug(
                            String(
                                "Battle start trigger",
                            ),
                        ),
                    ),
                ),
                representation: (
                    material: Shape(
                        shape: Circle,
                        color: ("#4527A0"),
                        size: Vec2E(
                            State(
                                Radius,
                            ),
                        ),
                    ),
                ),
                state: (
                    {
                        Radius: (
                            [
                                (
                                    t: 0.0,
                                    value: Float(
                                        0.0001,
                                    ),
                                ),
                                (
                                    t: 0.0,
                                    duration: 0.5,
                                    tween: QuartOut,
                                    value: Float(
                                        0.7,
                                    ),
                                ),
                            ],
                        ),
                    },
                ),
            ),
        ],
    ),
)