#![enable(implicit_some)]
(
    left: (
        units: [
            (
                name: "Wizard",
                hp: 15,
                atk: 1,
                house: "Mages",
                description: "Turn Start: use Magic Missle",
                trigger: TurnStart(
                    WithVar(
                        Faction,
                        OppositeFaction,
                        WithTarget(
                            RandomUnit,
                            List(
                                [
                                    Damage(
                                        Int(
                                            2,
                                        ),
                                    ),
                                    Vfx(
                                        "magic_missle",
                                    ),
                                ],
                            ),
                        ),
                    ),
                ),
            ),
        ],
    ),
    right: (
        units: [
            (hp: 60, atk: 1),
            (hp: 60, atk: 1),
        ],
    ),
)