(
    {
        "unit.rep": File(path: "ron/unit.rep.ron"),
        "pool.heroes": Folder(path: "ron/heroes"),
        "custom.battle": File(
            path: "ron/custom.battle.ron",
        ),
        "anim": File(path: "ron/all.anim.ron"),
        "statuses": File(
            path: "ron/all.statuses.ron",
        ),
    },
)