#![enable(implicit_some)]
(
    name: "Ghost",
    hp: 1,
    pwr: 0,
    houses: ["Default"],
    representation: (
        material: Shape(
            shape: Circle(radius: F(0.5)),
            shape_type: Opaque,
            fill: Solid(color: OwnerState(Color)),
            fbm: None,
            alpha: F(0.5),
            padding: Value(Float(0.0)),
        ),
        children: [],
        mapping: {
            Offset: Mul(
                UnitVec(Sum(Mul(Mul(PI, F(0.5)), Index), Sum(GT, Index))),
                Mul(Sin(Sum(GT, Index)), F(0.3)),
            ),
        },
        count: 4,
    ),
    trigger: Fire(
        triggers: [(TurnEnd, None)],
        targets: [(Owner, None)],
        effects: [
            (
                List(
                    [StateAddVar(Hp, Owner, I(1)), StateAddVar(Pwr, Owner, I(1)), Text(S("+1/+1"))],
                ),
                Some("gain +1/+1"),
            ),
        ],
    ),
)