#![enable(implicit_some)]
(
    teams: [
        (
            units: [
                (
                    hp: 1,
                    atk: 1,
                    name: "Bug",
                    representation: (
                        material: Shape(
                            shape: Circle,
                            color: Hex(
                                "#4E342E",
                            ),
                            size: Vec2(
                                0.5,
                                0.5,
                            ),
                        ),
                    ),
                ),
            ],
        ),
        (
            units: [
                (
                    hp: 1,
                    atk: 1,
                    name: "Bug",
                    representation: (
                        material: Shape(
                            shape: Circle,
                            color: Hex(
                                "#4E342E",
                            ),
                            size: Vec2(
                                0.5,
                                0.5,
                            ),
                        ),
                    ),
                ),
                (
                    hp: 1,
                    atk: 1,
                    name: "Bug",
                    representation: (
                        material: Shape(
                            shape: Circle,
                            color: Hex(
                                "#4E342E",
                            ),
                            size: Vec2(
                                0.5,
                                0.5,
                            ),
                        ),
                    ),
                ),
                (
                    hp: 1,
                    atk: 1,
                    name: "Bug",
                    representation: (
                        material: Shape(
                            shape: Circle,
                            color: Hex(
                                "#4E342E",
                            ),
                            size: Vec2(
                                0.5,
                                0.5,
                            ),
                        ),
                    ),
                ),
                (
                    hp: 1,
                    atk: 1,
                    name: "Bug",
                    representation: (
                        material: Shape(
                            shape: Circle,
                            color: Hex(
                                "#4E342E",
                            ),
                            size: Vec2(
                                0.5,
                                0.5,
                            ),
                        ),
                    ),
                ),
                (
                    hp: 1,
                    atk: 1,
                    name: "Bug",
                    representation: (
                        material: Shape(
                            shape: Circle,
                            color: Hex(
                                "#4E342E",
                            ),
                            size: Vec2(
                                0.5,
                                0.5,
                            ),
                        ),
                    ),
                ),
            ],
        ),
        (
            units: [
                (
                    hp: 3,
                    atk: 3,
                    name: "Snake",
                    house: "Enemies",
                    description: "Kill after dealing any damage",
                    trigger: AfterDamageDealt(
                        Kill,
                    ),
                    representation: (
                        material: Shape(
                            shape: Circle,
                            color: Hex(
                                "#76FF03",
                            ),
                            size: Vec2(
                                0.8,
                                0.8,
                            ),
                        ),
                    ),
                ),
                (
                    hp: 3,
                    atk: 3,
                    name: "Snake",
                    house: "Enemies",
                    description: "Kill after dealing any damage",
                    trigger: AfterDamageDealt(
                        Kill,
                    ),
                    representation: (
                        material: Shape(
                            shape: Circle,
                            color: Hex(
                                "#76FF03",
                            ),
                            size: Vec2(
                                0.8,
                                0.8,
                            ),
                        ),
                    ),
                ),
            ],
        ),
    ],
)