(
    material: Shape(
        shape: Circle,
        color: State(Color),
        size: Vec2E(
            Sum(
                Float(1.25),
                Mul(
                    IntFloat(
                        State(Index),
                    ),
                    Float(0.1),
                ),
            ),
        ),
    ),
)