(
    material: Shape(
        shape: Circle(radius: Sum(Float(1.25), Mul(IntFloat(OwnerState(StatusIndex)), Float(0.1)))),
        shape_type: Line(thickness: Float(0.7)),
        fill: GradientLinear(
            point1: Vec2(0.0, 0.0),
            point2: Vec2(0.0, 1.0),
            parts: [Float(0.0), Float(0.66)],
            colors: [OwnerState(Color), Hex("00000000")],
        ),
        fbm: None,
        alpha: Float(1.0),
        padding: Float(0.2),
    ),
)