(
    [
        Color(C("#ffffff")),
        Hollow(F(2.0)),
        Circle(One),
        Paint,
        Hollow(Zero),
        Color(C("#191919")),
        Circle(F(0.28)),
        Hollow(F(2.0)),
        Color(C("#D50000")),
        Circle(F(0.28)),
        Color(If(GreaterThen(Var(dmg), Zero), C("#D50000"), C("#ffffff"))),
        Text(Macro(S("[b %s]"), Sub(Var(hp), Var(dmg)))),
        Translate(V2(0.68, 0.85)),
        Paint,
        Hollow(Zero),
        Color(C("#191919")),
        Circle(F(0.28)),
        Hollow(F(2.0)),
        Color(C("#FF9100")),
        Circle(F(0.28)),
        Color(C("#ffffff")),
        Text(Macro(S("[b %s]"), Var(pwr))),
        Translate(V2(-0.68, 0.85)),
        Paint,
    ],
)