(
    material: Shape(
        shape: Circle,
        size: Vec2E(
            Sum(
                Mul(
                    If(
                        Even(
                            State(Slot),
                        ),
                        Beat,
                        Mul(
                            Beat,
                            Float(-1.0),
                        ),
                    ),
                    Float(0.1),
                ),
                Float(1.0),
            ),
        ),
        color: Hex("#B0BEC5"),
    ),
    children: [
        (
            material: Shape(
                shape: Circle,
                color: Hex("#FF3D00"),
                size: Vec2E(Float(0.3)),
            ),
            mapping: {Position: Vec2(0.9, -0.9)},
            children: [
                (
                    material: Text(
                        text: StringInt(
                            State(Hp),
                        ),
                        size: Float(0.6),
                        color: Hex("#FF3D00"),
                    ),
                ),
            ],
        ),
        (
            material: Shape(
                shape: Circle,
                color: Hex("#FBC02D"),
                size: Vec2E(Float(0.3)),
            ),
            mapping: {Position: Vec2(-0.9, -0.9)},
            children: [
                (
                    material: Text(
                        text: StringInt(
                            State(Atk),
                        ),
                        size: Float(0.6),
                        color: Hex("#FBC02D"),
                    ),
                ),
            ],
        ),
        (
            material: Shape(
                shape: Circle,
                color: Hex("#B0BEC5"),
                size: Vec2E(Float(0.3)),
            ),
            mapping: {
                Position: Vec2(0.9, 0.6),
                Visible: GreaterThen(
                    State(Level),
                    Int(1),
                ),
            },
            children: [
                (
                    material: Text(
                        text: Sum(
                            String("x"),
                            StringInt(
                                State(
                                    Level,
                                ),
                            ),
                        ),
                        size: Float(0.4),
                        color: Hex("#ffffff"),
                    ),
                ),
            ],
        ),
    ],
)