(
    material: Shape(
        shape: Circle,
        color: ("#CFD8DC"),
    ),
    children: [
        (
            material: Text (
                text: StringInt(State(Hp)),
                color: ("#FF3D00")
            ),
            mapping: (
                {
                    Position: Vec2(-0.7, -1.0)
                }
            )
        ),
        (
            material: Text (
                text: StringInt(State(Atk)),
                color: ("#FBC02D")
            ),
            mapping: (
                {
                    Position: Vec2(0.7, -1.0)
                }
            )
        ),
        (
            material: Text (
                text: State(Name),
                color: ("#FFF3E0"),
                size: Float(0.5),
            ),
            mapping: (
                {
                    Position: Vec2(0.0, -1.1)
                }
            )
        )
    ]
)