(
    [
        color(color("#ffffff")),
        hollow(f32(2.0)),
        circle(one),
        paint,
        hollow(zero),
        color(color("#191919")),
        circle(f32(0.28)),
        hollow(f32(2.0)),
        color(color("#D50000")),
        circle(f32(0.28)),
        color(
            If(greater_then(var(dmg), zero), color("#D50000"), color("#ffffff")),
        ),
        text(str_macro(S("[b %s]"), sub(var(hp), var(dmg)))),
        translate(vec2(0.68, 0.85)),
        paint,
        hollow(zero),
        color(color("#191919")),
        circle(f32(0.28)),
        hollow(f32(2.0)),
        color(color("#FF9100")),
        circle(f32(0.28)),
        color(color("#ffffff")),
        text(str_macro(S("[b %s]"), var(pwr))),
        translate(vec2(-0.68, 0.85)),
        paint,
    ],
)