(
    [
        color(color(HexColor("#ffffff"))),
        hollow(f32(2.0)),
        circle(one),
        paint,
        hollow(zero),
        color(color(HexColor("#191919"))),
        circle(f32(0.28)),
        hollow(f32(2.0)),
        color(color(HexColor("#D50000"))),
        circle(f32(0.28)),
        color(
            If(
                greater_then(var(dmg), zero),
                color(HexColor("#D50000")),
                color(HexColor("#ffffff")),
            ),
        ),
        text(str_macro(string("[b %s]"), sub(var(hp), var(dmg)))),
        translate(vec2(0.68, 0.85)),
        paint,
        hollow(zero),
        color(color(HexColor("#191919"))),
        circle(f32(0.28)),
        hollow(f32(2.0)),
        color(color(HexColor("#FF9100"))),
        circle(f32(0.28)),
        color(color(HexColor("#ffffff"))),
        text(str_macro(string("[b %s]"), var(pwr))),
        translate(vec2(-0.68, 0.85)),
        paint,
    ],
)